%label.label--standard= t("views.professional_profiles.industry")
%input{type:"checkbox", class:"input--selectAll js-select-all", id: "select-all-industry"}
.labelWrapper
  %label.label--selectAll{for: "select-all-industry"}=t("views.shared.select_all")
- IndustryHelper::TYPES_WITH_ANYTHING.each do |industry|
  .inputWrapper--block
    = form.check_box industry, class: "boolean"
    = form.label ProfessionalProfile.human_attribute_name(industry), for: "professional_profile_form_#{industry}"
