- resume = @professional_profile.resume if @professional_profile.resume?
- hubspot_resume_url = @professional_profile.hubspot_resume_url
= form.input :resume, input_html:{ data:{analytics: "add-resume"}}, as: :file,  label_html: {class: "label--standard"}
- if resume
  %p= link_to @professional_profile.resume_display_name, professional_profile_resume_path(@professional_profile)
  = form.input :remove_resume, as: :boolean
  = form.input :resume_cache, as: :hidden
- elsif hubspot_resume_url
  %p= link_to @professional_profile.hubspot_resume_filename, hubspot_resume_url
