= form.simple_fields_for :engagement_preference_attributes, @professional_profile_form.engagement_preference do |ep|
  = ep.input :starting_date,
              discard_day: true,
              start_year: Time.now.year,
              placeholder: "Pick a date",
              input_html: {class: "date-picker"},
              label_html: {class: "label--standard"}
