= form.simple_fields_for :engagement_preference_attributes, @professional_profile_form.engagement_preference do |ep|
  %label.label--standard= t("views.engagement_preferences.term_lengths")
  %input{type:"checkbox", class:"input--selectAll js-select-all", id: "select-all-terms"}
  .labelWrapper
    %label.label--selectAll{for: "select-all-terms"}=t("views.shared.select_all")
  = ep.input :term_quick
  = ep.input :term_small
  = ep.input :term_large
  = ep.input :term_permanent
  = ep.input :term_various
