.professionalProfile
  = render partial: '/professional_header', locals: { profile_piece: @professional_profile }

  %section.container
    = render "layouts/profile_sidebar"
    %section.mainContent--form
      %section.formWrapper
        %section.formNav--small
          = render "form_nav"

        %header.formHeader
          %h3.formHeader__title
            =t("views.professional_profiles.nav_title")

          %section.formHeader__action
            = link_to omniauth_authorize_path(current_user, :linkedin, state: current_user), class: "button--linkedinSmall js--buttonWorking" do
              %span.button__icon
              %span.button__text= t('linkedin.connect')
            %span.legal
              = t('linkedin.tooltip.connect')

        %section.formHelp
          %h4=t("views.professional_profiles.help_title")
          %p=t("views.professional_profiles.help_text")

        %section.formHelp
          %h4.formSubhead Email Address
          %p
            %span= current_user.email
            %span
              - if current_user.confirmed?
                Confirmed
              - else
                Not Confirmed -
                = link_to('Click to Resend Confimation Email', professional_profile_send_confirmation_path(current_user))

        %section.formHelp
          %div
            %h4.formSubhead Category
            %p= @professional_profile.category.try(:display_name)
          %div
            %h4.formSubhead Category Functions
            %p= @professional_profile.category_functions.map(&:display_name).to_sentence
          %div
            %h4.formSubhead Projects
            %p= @professional_profile.project_types.map(&:display_name).to_sentence
          %div
            %h4.formSubhead Specialties
            %p= @professional_profile.sub_project_types.map(&:display_name).to_sentence
          %div
            %h4.formSubhead Experience
            %p= @professional_profile.experience
          %div
            %h4.formSubhead Authorization
            %p= @professional_profile.authorization
          - unless @professional_profile.authorization
            %div
              %h4.formSubhead Authorization Details
              %p= @professional_profile.authorization_details
          %div
            %h4.formSubhead Desired Locations
            %p= @professional_profile.metro_areas.map(&:area_name).to_sentence



        %section.formEntry
          = simple_form_for @professional_profile_form, url: professional_profile_url, method: :patch, html: { multipart: true, class: 'js-dirty-check', data: {analytics: "submit-professional" } } do |f|
            %section.formBlock
              %section.formBlock__section--full
                = f.input :status, as: :radio_buttons,
                          wrapper_html: {class: "inputWrapper--block"},
                          label_html: {class: "label--standard"}

              %section.formBlock
                %section.formBlock__section--half.hide
                  = render partial: 'starting_date_fields', locals: { form: f }

              %section.formBlock__section--full
                = render partial: 'industry_fields', locals: { form: f }

              %section.formBlock__section--full
                = f.input :industry_other, label: ProfessionalProfile.human_attribute_name(:industry_other),
                          label_html: {class: "label--standard"}

              = f.simple_fields_for :role_preference_attributes, @professional_profile_form.role_preference do |role_preference|
                %section.formblock__section-full
                  = role_preference.input :audience_type_id,
                    as: :select,
                    collection: AudienceType.all,
                    wrapper_html: {class: "inputWrapper--half"},
                    label_html: {class: "label--standard"}

              %section.formBlock__section--half
                = render partial: 'term_fields', locals: { form: f }

              = f.simple_fields_for :engagement_preference_attributes, @professional_profile_form.engagement_preference do |ep|
                %section.formBlock__section--full
                  = ep.input :other_concerns,
                              as: :text,
                              label_html: {class: "label--standard"}

              %section.formBlock__section--full
                %h4.formSubhead Personal Information

                = f.input :first_name,
                          wrapper_html: {class: "inputWrapper--half"},
                          label_html: {class: "label--standard"}

                = f.input :last_name,
                          wrapper_html: {class: "inputWrapper--half inputWrapper--omega"},
                          label_html: {class: "label--standard"}

                = f.input :phone_number,
                          input_html: {value: number_to_phone(current_user.phone_number)},
                          wrapper_html: {class: "inputWrapper--half"},
                          label_html: {class: "label--standard"}

                = f.input :city,
                          wrapper_html: {class: "inputWrapper--half"},
                          label_html: {class: "label--standard"}

                = f.input :state, as: :select, collection: subregions_list,
                          wrapper_html: {class: "inputWrapper--half inputWrapper--omega"},
                          label_html: {class: "label--standard"}

                = f.input :zip_code,
                          wrapper_html: {class: "inputWrapper--half"},
                          label_html: {class: "label--standard"}

                = f.input :country, as: :select, collection: countries_list,
                          wrapper_html: {class: "inputWrapper--half inputWrapper--omega"},
                          label_html: {class: "label--standard"}



            %section.formBlock
              %section.formBlock__section--full
                = render partial: 'resume_upload', locals: { form: f }

            %section.formBlock
              %section.formBlock__section--action
                = f.submit t("views.professional_profiles.submit"), class: "button--update"

        %section.formBlock
          %section.formBlock__section--action
            = render "form_nav"
