%section.contentSection.l--stickyContent
  .contentSection__content
    %h2.contentSection__heading= t('devise.confirmations.new.heading')
    %hr.contentSection__hr
    %p.contentSection__lead= t('devise.confirmations.new.text')
    .formSignup--narrow
      = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :data => {:analytics => "resend-confirmation"} }) do |f|
        %fieldset
          = f.error_notification
          = f.full_error :confirmation_token
          = f.input :email,
                    :required => true,
                    :autofocus => true,
                    wrapper_html: { class: "formSignup__input--full" }
          = f.button :submit, t('devise.confirmations.new.button'), class: "button--large"
      = render "users/shared/links"
