*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

html, body {
  font-size: $base-font-size;
}

// Default body styles
body {
  background: $body-bg;
  color: $body-font-color;
  padding: 0;
  margin: 0;
  font-family: $sansSerif;
  font-weight: $fontWeight--regular;
  font-style: $body-font-style;
  line-height: 1; // Set to $base-line-height to take on browser default of 150%
  position: relative;
  cursor: $cursor-default-value;
}

a:hover { cursor: $cursor-pointer-value; }

// Grid Defaults to get images and embeds to work properly
img,
object,
embed { max-width: 100%; height: auto; }

object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

#map_canvas,
.map_canvas {
  img,
  embed,
  object { max-width: none !important;
  }
}

// Font smoothing
// Antialiased font smoothing works best for light text on a dark background.
// Apply to single elements instead of globally to body.
// Note this only applies to webkit-based desktop browsers and Firefox 25 (and later) on the Mac.
.antialiased { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

// Get rid of gap under images by making them display: inline-block; by default
img {
  display: inline-block;
  vertical-align: middle;
}

// Get rid of extra margin
figure {
  margin: 0;
}

//
// Global resets for forms
//

form {
  margin: 0;
}

// Make sure textarea takes on height automatically
textarea { height: auto; min-height: 50px; }

// Make select elements 100% width by default
select { width: 100%; }

// Reset Foundation styles
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: $gutter 0;
  @media #{$bp--small-only} {
    margin: $gutter/2 0;
  }
}

a {
  text-decoration: none;
}

ul {
  @include scut-list-unstyled;
  font-size: $base-font-size;
}
