.grid--row {
  @include grid-row();
}

.grid--12-12,
.grid--1-1 {
  @include grid-column(12);
}

.grid--6-12,
.grid--2-4,
.grid--3-6,
.grid--1-2 {
  @include grid-column(6);
}

.grid--4-12,
.grid--1-3 {
  @include grid-column(4);
}

.grid--3-12,
.grid--1-4 {
  @include grid-column(3);
}

.grid--2-12,
.grid--1-6 {
  @include grid-column(2);
}

.grid--10-12,
.grid--5-6 {
  @include grid-column(10);
}

.grid--9-12,
.grid--3-4 {
  @include grid-column(9);
}

.grid--8-12,
.grid--2-3 {
  @include grid-column(8);
}

.grid--7-12 {
  @include grid-column(7);
}

.grid--5-12 {
  @include grid-column(5);
}


// Grid utilities

.grid--centered {
  @include grid-column($center:true);
  @include clearfix;
}

.grid--collapse {
  @include grid-column($collapse:true);
}
