// ------------------------------------------------------------------------------
// Table of Contents
//
// 1. General Container
// 2. Container Variations
// 3. Container Head
// 4. Sticky Footer
//
// ------------------------------------------------------------------------------


// --------------------------------------------
// !-- General Container
// --------------------------------------------

.container {
  @extend .grid--row;
}


// --------------------------------------------
// !-- Container Variations
// --------------------------------------------

.container--home {
  @extend .container;
  padding-top: $gutter*2;
  @media #{$bp--small-only} {
    padding: 0;
  }
}


// --------------------------------------------
// !-- Container Head
// --------------------------------------------

.containerHead {
  @extend .grid--1-1;
  margin: $gutter 0;
  padding: 0 $gutter;
  border: $border--width solid $border--color;
  border-radius: $borderRadius;
  background-color: $white;
  @media #{$bp--small-only} {
    margin: 0;
    padding-bottom: $gutter/2;
    border: none;
    border-bottom: $border--width solid $border--color;
  }
}

.head__name {
  display: inline-block;
}

.head__progress {
  float: right;
  @include font-size(24);
  margin-top: rem-calc(30px);
}


// --------------------------------------------
// !-- Sticky Footer
// --------------------------------------------

.l--stickyFoot {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.l--stickyContent {
  flex: 1;
  width: 100%;
  padding: 1.5em;
  /* stupid IE10 tweener syntax */
  -ms-flex-preferred-size: auto;
}
