.divider {
  border-bottom: $border--width dashed $divider--color;
  line-height: $divider--height;
  text-align: center;
  margin-bottom: $gutter;
  span {
    font-size: 2em;
    font-weight: bold;
    background: $contentSection--bg;
    color: $divider--color;
    position: relative;
    bottom: -$divider--height/2;
    padding: 0 $gutter;
  }
}

.divider--wizard {
  @extend .divider;
  border:none;
  margin-top: -$gutter;
  span {
    background: $wizard--stepMobile;

    @media #{$bp--medium-down} {
      width: 100%;
      background: $wizard--bgMobile;
    }
  }
}
