// ------------------------------------------------------------------------------
// Table of Contents
//
// 1. General Links
// 2. Link Variations
//
// ------------------------------------------------------------------------------


// --------------------------------------------
// !-- General Links
// --------------------------------------------

%link {
  @include font-size(16);
}

.link--tab {
  display: block;
  padding: rem-calc(15) $gutter rem-calc(20);
  text-decoration: none;
  color: $linkColor--tab;
  &:active {
    color: $linkColor--tab--active;
  }
  span {
    display: block;
  }
}

.linkWrapper {
  margin-bottom: $gutter/2;
}


// --------------------------------------------
// !-- Link Variations
// --------------------------------------------

.link--form {
  @extend %link;
}

.links--signup {
  .link--form {
    padding-bottom: rem-calc(5);
  }
}

.link--formNav {
  @extend %link;
  margin-top: rem-calc(10);
  color: $linkColor--formNav;
  white-space: nowrap;
  &:hover {
    color: $linkColor--formNav--hover;
  }
}

.link--delete {
  @extend %link;
  margin-top: rem-calc(20);
  color: $linkColor--delete;
  &:hover {
    text-decoration: underline;
  }
}
