$header-font-color: red;

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

h1 {
  @include font-size(36);
  font-weight: 300;
  line-height: 1.25;
  margin: $gutter 0;
  @media #{$bp--large-down} {
    @include font-size(32);
  }
  @media #{$bp--small-only} {
    @include font-size(28);
    margin: $gutter/2 0;
  }
}

h2 {
  @include font-size(30);
  line-height: 1;
  font-weight: 400;
  @media #{$bp--small-only} {
    @include font-size(24);
    margin: $gutter/2 0;
    text-align: center;
  }
}

h3 {
  @include font-size(24);
  font-weight: 300;
  margin: rem-calc(10) 0;
}

h4 {
  @include font-size(20);
  font-weight: 300;
  line-height: 1;
  margin-bottom: rem-calc(20);
}

p {
  @include font-size(16);
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: rem-calc(20);
  @media #{$bp--small-only} {
    @include font-size(14);
  }
}

li {
  @include font-size(16);
  line-height: 1.6;
}

.legal {
  font-size: $base-font-size;
  color: $buttonWarning--color;
  text-align: center;
  margin: $buttonWarning--spacing 0 0;
  display: block;
}

