.professionalProfile
  = render partial: '/professional_header', locals: { profile_piece: @professional_profile }

  %section.container
    = render "layouts/profile_sidebar"
    %section.mainContent--form--account
      %section.formWrapper
        %header.formHeader
          %h3=t("views.account.nav_title")
          %section.formHelp
            %h4=t("views.account.help_title")
            %p=t("views.account.help_text")
          %section.formEntry
            = simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {analytics: 'submit-settings' } do |f|
              = f.error_notification
              %section.formBlock
                %section.formBlock__section--full
                  = f.input :email, required: true, autofocus: true, hint: t("views.account.email"),
                            wrapper_html: {class: "inputWrapper--withHint"},
                            input_html: {class: "input--withHint"}
                  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                    %p=t("views.account.waiting_confirm", email: resource.unconfirmed_email)
                %section.formBlock__section--full
                  = f.input :password, autocomplete: "off", hint: t("views.account.leave_blank"), required: false,
                            wrapper_html: {class: "inputWrapper--withHint"},
                            input_html: {class: "input--withHint"}
                  = f.input :password_confirmation, required: false
                - unless resource.uid
                  %section.formBlock__section--full
                    = f.input :current_password, hint: t("views.account.need_password"), required: true,
                             wrapper_html: {class: "inputWrapper--withHint"},
                             input_html: {class: "input--withHint"}
                %section.formBlock__section--full
                  = f.button :submit, t("update"), class: "button--small"
        %section.formEntry--danger
          %section.formBlock
            %section.formBlock__section--full
              %h3=t("views.account.cancel")
              %p
                =button_to t("cancel"), registration_path(resource_name), data: { confirm: "Are you sure?", analytics: 'cancel-account' }, method: :delete, class: "button--destroy"
