.grid--row
  .grid--1-4.grid--centered
    %h2 Sign up
    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, :required => true, :autofocus => true
        = f.input :password, :required => true
        = f.input :password_confirmation, :required => true
      .form-actions
        = f.button :submit, "Sign up"
    = render "users/shared/links"
