=link_to t('back.qualifications'), edit_profile_component_path(@professional_profile.qualification), class: "link--formNav left"
=link_to t('next.work_histories'), professional_profile_work_histories_path(@professional_profile), class: "link--formNav right"
