.professionalProfile
  = render partial: '/professional_header', locals: { profile_piece: @professional_profile }

  %section.container
    = render "layouts/profile_sidebar"
    %section.mainContent--form
      %section.formWrapper
        %section.formNav--small
          = render "form_nav"
        %header.formHeader
          %h3.formHeader__title
            =t('views.education_histories.nav_title')
          %section.formHeader__action
            = link_to omniauth_authorize_path(current_user, :linkedin, state: current_user, limit_to: "education"), class: "button--linkedinSmall js--buttonWorking" do
              %span.button__icon
              %span.button__text= t('linkedin.import')
            %span.legal
              = t('linkedin.tooltip.import')

        %section.formHelp
          %h4=t("views.education_histories.help_title")
          %p=t("views.education_histories.help_text")

        %section.formEntry
          = simple_form_for EducationHistory.new, url: professional_profile_education_histories_path, html: { class: 'js-dirty-check', data: {analytics: "submit-education"}  } do |f|
            %section.formBlock
              %section.formBlock__section--full
                = f.input :institution,
                  label_html: {class: "label--standard"},
                  wrapper_html: {class: "inputWrapper--quarter"}
                = f.input :achievement_level,
                  label_html: {class: "label--standard"},
                  wrapper_html: {class: "inputWrapper--quarter"}
                = f.input :graduation_date,
                  order: [:month, :year],
                  discard_day: true,
                  start_year: Time.now.year - 60,
                  end_year: Time.now.year,
                  label_html: {class: "label--standard"},
                  wrapper_html: {class: "inputWrapper--quarter"},
                  input_html: {class: "date-picker inputWrapper--inner"}
                = f.input :concentration_list, collection: concentration_options,
                  wrapper_html: {class: "inputWrapper--quarter"},
                  input_html: {multiple: true, class: 'js-chosen', data: { placeholder: t("views.education_histories.chosen_placeholder") }},
                  label_html: {class: "label--standard"}

            %section.formBlock__save
              %section.formBlock__section--action
                = f.submit t("views.education_histories.add_entry"), class: "button--small"

        %section.formBlock__section--full
          -@professional_profile.education_histories.each do |eh|
            .historyEntry
              %section.historyEntry__section
                %strong=eh.institution
              %section.historyEntry__section
                %span=eh.achievement_level
                %span=eh.concentrations.first
              %section.historyEntry__section.text-right=eh.graduation_date.try(:year)
              %section.historyEntry__section.text-right=link_to t("views.education_histories.delete_entry"),
                professional_profile_education_history_path(@professional_profile, eh), class: "link--delete", method: :delete
      %section.formBlock
        %section.formBlock__section--action
          = render "form_nav"
