.contentSection__faq {
  @extend .contentSection__content;
  padding-top: $gutter;
  text-align: left;
  @media #{$bp--small-only} {
    padding: rem-calc(20) 0;
  }
  h2 {
    margin-top: 0;
    color: $sectionHeading--color;
  }
}

.hhh-faq__question {
  margin: 10px 0;
  line-height: 1;
}

.hhh-faq__question {
  color: $sectionHeading--color;
  font-weight: $fontWeight--bold;
  @media #{$bp--small-only} {
    @include font-size(16);
    margin-bottom: 0;
  }
}

.hhh-faq__answer {
  margin: 0 0 $gutter*1.5 0;
  font-weight: 300;
  @media #{$bp--small-only} {
    margin-bottom: $gutter;
  }
}

