// ------------------------------------------------------------------------------
// Table of Contents
//
// 1. General Footer
// 2. Footer Sections
//
// ------------------------------------------------------------------------------


// --------------------------------------------
// !-- General Footer
// --------------------------------------------

footer {
  @include font-size(12);
  background-color: $footer--bg;
  background-image: image-url('hero-bg-pattern.png');
  color: $white;
  font-weight: 300;
  line-height: 1.7;
  padding: rem-calc(20) 0;
  text-transform: uppercase;
  a {
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footerContainer {
  @extend .container;
  .supports-flexbox & {
    @extend %flex--display;
    @extend %flex--alignItems__center;
    @media #{$bp--small-only} {
      display: block;
    }
  }
}


// --------------------------------------------
// !-- Footer Sections
// --------------------------------------------

.footerContact {
  @extend .grid--1-3;
  @media #{$bp--small-only} {
    @include grid-column(12);
    text-align: center;
    margin-bottom: $gutter;
  }
}

.footerLinks {
  @extend .grid--2-3;
  text-align: right;
  @media #{$bp--small-only} {
    @include grid-column(12);
    text-align: center;
  }
}

.footerLinks__nav {
  display: inline-block;
  margin: 0 $gutter;
  @include font-size(18);
  text-transform: none;
}

.footerLinks__nav--social{
  @include font-size(28);
  margin-left: $gutter/4;
  &:hover {
    text-decoration: none;
  }
}

