// ------------------------------------------------------------------------------
// Table of Contents
//
// 1. Site Header
// 2. Top Bar
// 3. Logo
//
// ------------------------------------------------------------------------------


// --------------------------------------------
// !-- Site Header
// --------------------------------------------

.siteHeader {
  background-color: $mainNav--bg;
  background-image: image-url('hero-bg-pattern.png');
  color: $mainNav--color;
}

// --------------------------------------------
// !-- Top Bar
// --------------------------------------------

.logo {
  display: inline-block;
  margin: $gutter $gutter/2;
  width: image-width('hhh-logo-standard.png');
  height: image-height('hhh-logo-standard.png');
  @include image-2x('hhh-logo-standard.png', 'hhh-logo-standard_@2x.png');
  @media #{$bp--large-down} {
    width: image-width('hhh-logo-small.png');
    height: image-height('hhh-logo-small.png');
    @include image-2x('hhh-logo-small.png', 'hhh-logo-small_@2x.png');
  }
}

.logo__icon {
  display: inline-block;
  color: $mainNav--color;
  font-size: $mainNav--lineHeight;
  vertical-align: middle;
}

.logo__text {
  display: inline-block;
  margin-left: 5px;
  @include font-size(21);
  color: $mainNav--color;
  vertical-align: middle;
}

a.menuLink {
  float: right;
  display: block;
  padding: $gutter $gutter/2;
  line-height: $mainNav--lineHeight;
  @include font-size(18);
  color: $mainNav--color;
}
.mainNav {
  clear: both;
  transition: all 0.3s ease-out;
}
.js--menu .mainNav {
  overflow: hidden;
  max-height: 0;
}
.mainNav.active {
  max-height: 32em;
}
.mainNav ul {
  margin: 0;
  padding: 0;
  border-top: $menu--border-width solid $menu--border-color;
}
.mainNav li a {
  display: block;
  padding: 0.8em;
  border-bottom: $menu--border-width solid $menu--border-color;
  color: $mainNav--color;
}

@media #{$bp--large-up} {
  a.menuLink {
    display: none;
  }
  .mainNav {
    position: absolute;
    top: 0;
    right: 0;
  }
  .js--menu .mainNav {
    max-height: none;
  }
  .mainNav ul {
    margin: 0 0 0 -0.25em;
    padding: $gutter 0;
    border: 0;
  }

  .mainNav  li {
    display: inline-block;
    margin: 0 0.25em;
  }
  .mainNav li a {
    padding: 0 0.8em;
    border: 0;
    color: $mainNav--color;
    line-height: $mainNav--lineHeight;
  }
}



