.steps {
  @extend .grid--row;
}

.stepsInner {
  @extend .grid--5-6;
  @extend .grid--centered;
  margin-top: $gutter;
  @media #{$bp--small-only} {
    @include grid-column(12);
  }
}

.steps__header {
  @extend .text-center;
  text-transform: uppercase;
  @media #{$bp--small-only} {
    margin-bottom: $gutter;
  }
}

.step {
  @extend .grid--row;
  margin: $gutter*1.5 0;
  @media #{$bp--small-only} {
    margin: $gutter/2 0;
  }
}

.step__number {
  @extend .grid--1-6;
  @include font-size(90);
  margin: 0;
  text-align: center;
  @media #{$bp--large-down} {
    @include font-size(70);
  }
  @media #{$bp--medium-down} {
    @include font-size(60);
  }
  @media #{$bp--small-only} {
    @include grid-column(12);
    @include font-size(40);
  }
}

.step__callout {
  @extend .grid--5-6;
  h4 {
    margin: $gutter/2 0;
    font-weight: $fontWeight--bold;
    @media #{$bp--small-only} {
      @include font-size(18);
      line-height: rem-calc(24);
      text-align: center;
    }
  }
  @media #{$bp--small-only} {
    @include grid-column(12);
  }
}

// Steps Variations
.steps--companies,
.steps--professionals {
  @extend .steps;
  .steps__header,
  .step__number,
  .step__callout h4 {
    color: $listNumber--bg;
  }
}


// Step Variations
.step--action {
  @extend .step;
  .step__callout {
    @extend .grid--1-1;
    text-align: center;
  }
}

