.wizard__action {
  margin-top: 7%;
  padding: 0 10% 0 10%;

  @media #{$bp--medium-down} {
    padding: 0 30% 0 30%;
  }

  @media #{$bp--small-down} {
    padding: 0 10% 0 10%;
  }
}

.wizard__action--resume {
  @extend .wizard__action;
  padding-top: 5%;
}

.wizard {
  @extend .grid--1-1;
  background: $wizard--bg;
  position: initial;

  @media #{$bp--medium-down} {
    background: $wizard--bgMobile;
  }

  input[type="checkbox"] ~ label,
  input[type="radio"] ~ label {
    display: inline-block;
    margin: $wizard--labelMargin;
    padding: $gutter/2 $gutter;
    border-radius: 15px;
    cursor: pointer;
    background: $wizard--label;

    &:hover {
      background: $wizard--labelHover;
    }

    @media #{$bp--medium-down} {
      width: max-content;
      display: block;
      margin: $wizard--labelMargin auto;
    }
  }
}

.wizard__container {
  @extend .grid--8-12;
  @extend .grid--centered;
  background: $white;
  padding-bottom: 7%;
  position: initial;

  @media #{$bp--medium-down} {
    width: 100%;
    background: $wizard--bgMobile;
  }
}

.wizard__section {
  @extend .grid--6-12;
  @extend .grid--centered;
  min-width: 400px;

  @media #{$bp--medium-down} {
    min-width: 0;
    width: 100%;
  }
}

.wizard__sectionSmall {
  @extend .grid--4-12;
  @extend .grid--centered;
  margin-top: $gutter;

  @media #{$bp--medium-down} {
    width: 100%;
  }
}

.wizard__section--heading {
  @extend .contentSection__heading;
  font-size: 2em;
}

.wizard__section--hr {
  @extend .contentSection__hr;
  max-width: 170px;
}

.wizard__formOverflow {
  max-height: 250px;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.wizard__formOverflowBorder {
  border-top: 1px $wizard--lightGray solid;
  border-bottom: 1px $wizard--lightGray solid;

  @media #{$bp--medium-down} {
    border-top: 1px $wizard--gray solid;
    border-bottom: 1px $wizard--gray solid;
  }
}

.wizard__scrollIndicator {
  font-size: 3em;
  margin-top: -10px;
  color: $hhh-blue;
  display: none;

  @media #{$bp--medium-down} {
    font-size: 4em;
  }
}

.wizard__stepHeader {
  font-size: 2em;
  color: $hhh-blue;
  @include scut-margin(n auto);
  max-width: 400px;
}

.wizard__stepSubHeader {
  font-size: 1.25em;
}

.wizard-progress {
  text-align: right;
  margin: $gutter;

  @media #{$bp--medium-down} {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 5px;
  }
}

.wizard-progress__step {
  border: $wizard--stepBorderWidth solid $wizard--step;
  height: 7px;
  width: 7px;
  border-radius: 180px;
  display: inline-block;

  @media #{$bp--medium-down} {
    border: $wizard--stepBorderWidth solid $wizard--stepMobile;
    height: 6px;
    width: 6px;
  }
}

.wizard__envelopeImage {
  margin-bottom: $gutter;
}

.is--active, .is--complete {
  @extend .wizard-progress__step;
  background: $wizard--step;

  @media #{$bp--medium-down} {
    background: $wizard--stepMobile;
  }
}

.wizard__hiddenField {
  display: none;
}

#locations {
  margin-top: 10%
}

.wizard__resumeLaterSection {
  font-size: 1.25em;
  margin-top: $gutter;
}

.wizard__resumeTitleSection {
  margin-top: -$gutter;
}

.wizard__reveal ~ label {
  // !important used to override previous specification
  // of label display and margin under the .wizard class
  // When the window width is low enough, these elements
  // are aligned vertically, which makes sense for check
  // boxes but not for Yes/No
  display: inline-block !important;
  margin: $gutter/2 !important;
}
