.form__links
  - if controller_name != 'sessions'
    .link__wrapper
      = link_to t('devise.links.login'), new_session_path(resource_name), class: "form__link"

  - if devise_mapping.registerable? && controller_name != 'registrations'
    .link__wrapper
      = link_to t('devise.links.sign_up'), new_registration_path(resource_name), class: "form__link"

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    .link__wrapper
      = link_to t('devise.links.forgot'), new_password_path(resource_name), class: "form__link"

  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    .link__wrapper
      = link_to t('devise.links.trouble'), new_confirmation_path(resource_name), class: "form__link"

  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    .link__wrapper
      = link_to t('devise.links.unlock'), new_unlock_path(resource_name), class: "form__link"
