.hero--home.l--stickyContent
  %section.container--home
    %section.formSignin--centered
      %h3.formHead Resend unlock instructions
      = simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
        %fieldset
          = f.error_notification
          = f.full_error :unlock_token
            = f.input :email, :required => true, :autofocus => true, wrapper_html: { class: "grid--1-1" }, placeholder: "Please enter your email address"
            = f.button :submit, "Resend unlock instructions", class: "button-class--ko"
      = render "users/shared/links"
