=link_to t('back.salary_preferences'), edit_profile_component_path(@professional_profile.salary_preference), class: "link--formNav left"
=link_to t('next.education_histories'), professional_profile_education_histories_path(@professional_profile), class: "link--formNav right"
