.professionalProfile
  = render partial: '/professional_header', locals: { profile_piece: @qualification }

  %section.container
    = render "layouts/profile_sidebar"
    %section.mainContent--form
      %section.formWrapper
        %section.formNav--small
          = render "form_nav"
        %header.formHeader
          %h3.formHeader__title
            = t("views.qualifications.nav_title")
          %section.formHeader__action
            = link_to omniauth_authorize_path(current_user, :linkedin, state: current_user, limit_to: "skills"), class: "button--linkedinSmall js--buttonWorking" do
              %span.button__icon
              %span.button__text= t('linkedin.import')
            %span.legal
              = t('linkedin.tooltip.import')


        %section.formHelp
          %h4=t("views.qualifications.help_title")
          %p=t("views.qualifications.help_text")

        %section.formEntry
          = simple_form_for update_profile_component_path(@qualification), html: { class: 'js-dirty-check', data: {analytics: "submit-qualifications"}  } do |f|
            %section.formBlock
              %section.formBlock__section--full
                = f.input :skill_list, collection: skill_options,
                          input_html: {multiple: true, class: 'js-chosen', data: { placeholder: t("views.qualifications.chosen_skills_placeholder")}},
                          label_html: {class: "label--standard"}
            %section.formBlock
              %section.formBlock__section--full
                = f.input :additional_skills,
                          label_html: {class: "label--standard"}
            %section.formBlock
              %section.formBlock__section--full
                = f.input :cert_list, collection: cert_options,
                          input_html: {multiple: true, class: 'js-chosen', data: { placeholder: t("views.qualifications.chosen_certifications_placeholder")}},
                          label_html: {class: "label--standard"}
            %section.formBlock
              %section.formBlock__section--full
                = f.input :additional_certs,
                          label_html: {class: "label--standard"}
            %section.formBlock
              %section.formBlock__section--action
                = f.submit t("views.qualifications.submit"), class: "button--update"
        %section.formBlock
          %section.formBlock__section--action
            = render "form_nav"
