%h2.hero__headline
  - if @audience_type.is_facility_manager?
    = "CONNECT TO FACILITY MANAGER & BUILDING ENGINEER CAREERS"
  - else
    = "CONNECT TO CONSTRUCTION MANAGEMENT CAREERS"
%hr.hero__hr
%p.hero__detail
  - if @audience_type.is_facility_manager?
    %span{ style: "font-weight: 800"}= "TOP EMPLOYERS:"
    = " JLL, ABM, CBRE, Sodexo, EMCOR, DTZ, Johnson Controls, Aramark, Cushman & Wakefield"
    %br
    %br
    %span{ style: "font-weight: 800"}= "COMMONLY USED JOB TITLES:"
    = " Facility Manager, Assistant Facility Manager, Facilities Director, Account Director, Property Manager, General Manager, Building Engineer, Chief Engineer, HVAC Technician, MEP Coordinator,  Energy Services Professional"
    %br
    %br
    %span{ style: "font-weight: 800"}= "HOT JOB MARKETS:"
    = " Dallas, TX; Houston, TX; Los Angeles, CA; San Francisco & Silicon Valley, CA; Seattle, WA; Chicago, IL; New York, NY; Washington D.C."
    %br
  - else
    %span{ style: "font-weight: 800"}= "TOP EMPLOYERS:"
    = " Bechtel, Fluor, Kiewit, Walsh, Turner, CB&I, PCL, Skanska, KBR, Whiting-Turner, Jacobs, Balfour Beatty, Clark, Tutor Perini, Gilbane"
    %br
    %br
    %span{ style: "font-weight: 800"}= "COMMON JOBS:"
    = " Project Manager, Assistant Project Managers, General Construction Manager, Superintendent, Foreman, Program Manager, Development Manager, Owners Rep, Project Engineer, Project Coordinator, Quality Manager "
    %br
    %br
    %span{ style: "font-weight: 800"}= "HOT JOB MARKETS:"
    = " Los Angeles, CA; San Francisco & Silicon Valley, CA; Dallas, TX; Houston, TX;  Florida; Seattle, WA; New York, NY; Washington D.C.; Denver, CO; Chicago, IL"
    %br

  - if @featured_companies.present?
    = link_to text('views.audience_types.show.hero.button'), "#featured_companies", class: 'button--large hero__button', data: {analytics: 'click-get-started'}
  - else
    = link_to text('views.audience_types.show.hero.button'), "#opportunity", class: 'button--large hero__button', data: {analytics: 'click-get-started'}
