- heading = params[:hubspot_created] ? t('devise.passwords.edit.hubspot.heading') : t('devise.passwords.edit.heading')
- text = params[:hubspot_created] ? t('devise.passwords.edit.hubspot.text') : t('devise.passwords.edit.text')
- submit_button = params[:hubspot_created] ? t('devise.passwords.edit.hubspot.button') : t('devise.passwords.edit.button')
- puts resource.id
%section.contentSection.l--stickyContent
  .contentSection__content
    %h2.contentSection__heading= heading
    %hr.contentSection__hr
    %p.contentSection__lead= text
    .formSignup--narrow
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
        %fieldset
          = f.error_notification
          = f.input :reset_password_token, :as => :hidden
          = f.full_error :reset_password_token
          = f.input :password,
                    :autofocus => true,
                    :required => true,
                    wrapper_html: { class: "formSignup__input--full" }
          = f.input :password_confirmation,
                    :required => true,
                    wrapper_html: { class: "formSignup__input--full" }
          = f.button :submit, submit_button, class: "button--large"
      = render "users/shared/links"
