%section.contentSection.l--stickyContent
  .contentSection__content
    %h2.contentSection__heading= t('devise.passwords.new.heading')
    %hr.contentSection__hr
    %p.contentSection__lead= t('devise.passwords.new.text')
    .formSignup--narrow
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }, :data => {:analytics => "reset-password"}) do |f|
        = f.error_notification
        = f.input :email,
                  :required => true,
                  :autofocus => true,
                  placeholder: "you@example.com",
                  wrapper_html: { class: "formSignup__input--full" }
        = f.button :submit, t('devise.passwords.new.button'), class: "button--large"
      = render "users/shared/links"
