
/************** Company Profile Page Styling ***********************/

.companyProfile {
  padding-top: $gutter*2;
}

%wysiwyg-list {
  font-weight: 300;
  list-style: disc;
  margin-left: $gutter/1.25;
  li {
    line-height: 1.2;
    margin-bottom: $gutter/4;
    @media #{$bp--small-only} {
      @include font-size(14);
    }
  }
}

.companyProfile {
  h1 {
    margin-top: 0;
    @media #{$bp--small-only} {
      text-align: center;
    }
  }
  p {
    font-weight: 300;
  }
  h3 {
    @include font-size(18);
    margin-top: 0;
    border-bottom: 1px solid;
    padding-bottom: $gutter/4;
    text-transform: uppercase;
    @media #{$bp--small-only} {
      @include font-size(16);
    }
  }
  ul {
    @extend %wysiwyg-list;
  }
  @media #{$bp--small-only} {
    .button {
      width: 100%;
    }
  }
}

.companyProfile__logo {
  max-width: 400px;
}


.companyMain {
  @extend .grid--2-3;
  padding: 0 $gutter;
  @media #{$bp--small-only} {
    @include grid-column(12);
  }
  h5 {
    @include font-size(18);
    color: $sectionHeading--color;
    font-weight: $fontWeight--semiBold;
    margin: 0 0 $gutter/2 0;
    line-height: 1.2;
    @media #{$bp--small-only} {
      @include font-size(16);
    }
  }
  p {
    margin: 0 0 $gutter 0;
  }
}

.companySignup {
  @extend .grid--1-2;
  @media #{$bp--small-only} {
    @include grid-column(12);
    text-align: center;
    margin: $gutter/2 0;
  }
}

.companyAbout {
  margin: $gutter*1.5 0;
  @media #{$bp--small-only} {
   margin: 0 0 $gutter 0;
  }
}

.companySidebar {
  @extend .grid--1-3;
  @media #{$bp--small-only} {
    @include grid-column(12);
  }
}

.companySidebar--image,
.companySidebar--video,
.companySidebar--key-facts,
.companySidebar--additional-info {
  @include grid-column($columns: 12, $collapse: true);
  margin-bottom: $gutter;
}

.companySidebar--video {
  @include flex-video-container();
}

.companySidebar--key-facts {
  padding: $gutter;
  background: $xlt-gray;
  color: $hhh-gray;
  h3 {
    border-color: $dk-gray;
  }
  ul {
    @extend %wysiwyg-list;
  }
}

.companySidebar--additional-info {
  color: $companySidebar--color;
  padding: $gutter;
  h3 {
    border-color: $companySidebar--borderColor;
    color: $companySidebar--color;
    margin-top: 0;
  }
  p {
    margin: 0;
  }
  ul {
    @include font-size(14);
    @extend %wysiwyg-list;
  }
}
