// ------------------------------------------------------------------------------
// Table of Contents
//
// 1. General Hero
//
// ------------------------------------------------------------------------------


// --------------------------------------------
// !-- General Hero
// --------------------------------------------

.hero {
  min-height: rem-calc(220);
  text-align: center;
  text-transform: uppercase;
  @media #{$bp--large-down} {
    min-height: rem-calc(180);
  }
  @media #{$bp--medium-down} {
    min-height: rem-calc(140);
  }
  .hero__headline {
    @extend .grid--row;
    @include font-size(36);
    padding: $gutter*4 2% 0;
    letter-spacing: .04em;
    font-weight: $fontWeight--extraBold;
    line-height: 1.05;
    @media #{$bp--large-down} {
      @include font-size(44);
      padding-top: rem-calc(40);
    }
    @media #{$bp--medium-down} {
      @include font-size(28);
      padding-top: rem-calc(20);
    }
  }
  .hero__hr {
    margin: 15px auto 0 auto;
    max-width: 200px;
  }
  .hero__detail {
    @extend .grid--row;
    @include font-size(22);
    padding: $gutter 10% 0;
    text-transform: none;
    font-weight: $fontWeight--semiBold;
    line-height: 1.2;
    @media #{$bp--medium-down} {
      @include font-size(20);
      padding: rem-calc(20) 5% 0;
    }
  }
  .hero__button {
    margin: $gutter*3 $gutter/2 75px;
  }
}

.heroSupplement {
  background: $heroSupplement--bg;
  font-weight: $fontWeight--bold;
}

.heroSupplement__list {
  @extend .grid--row;
  @include clearfix;
  padding: $gutter/2 $gutter*2;
  list-style: none;
  @media #{$bp--large-down} {
    padding: $gutter/2;
  }
  @media #{$bp--medium-down} {
    padding-left: $gutter;
  }
}

.heroSupplement__item {
  @extend .grid--1-3;
  position: relative;
  padding: $gutter;
  @media #{$bp--large-down} {
    padding-left: 0;
  }
  @media #{$bp--medium-down} {
    @include grid-column(12);
    margin-bottom: $gutter;
  }
}

.heroSupplement__listNumber {
  @include font-size(32);
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  margin-right: $gutter/2;
  width: $listNumber--size;
  height: $listNumber--size;
  border-radius: 50%;
  background: $listNumber--bg;
  color: $listNumber--color;
  text-align: center;
  line-height: $listNumber--size+1;
  @media #{$bp--large-only} {
    @include font-size(26);
    width: $listNumber--sizeSm;
    height: $listNumber--sizeSm;
    line-height: $listNumber--sizeSm+1;
  }
}

.heroSupplement__listContent {
  @include font-size(20);
  display: inline-block;
  margin-top: -1px;
  padding-left: $listNumber--size;
  color: $heroSupplement--color;
  vertical-align: middle;
  line-height: 1.1;
  @media #{$bp--large-only} {
    @include font-size(18);
    margin-top: -3px;
  }
  @media #{$bp--medium-down} {
    @include font-size(24);
    margin-top: 8px;
    padding-left: $listNumber--sizeLg;
  }
}
