= content_for :hero do
  %section.hero
    %h2.hero__headline= text('hero.headline')
    %hr.hero__hr
    %p.hero__detail= text('hero.detail')
    = link_to text('hero.button'), "#{Settings.links.company_sign_up_form}", class: 'button--large hero__button', data: {analytics: 'click-partner-program'}

%section.contentSection--alt
  .contentSection__content
    %h2.contentSection__heading= text('steps.title')
    %hr.contentSection__hr

  %article.steps--professionals
    .stepsInner
      %section.step
        .step__number
          .icon-hhh-step-1
        %section.step__callout
          %h4= text('steps.one.title')
          %p= text('steps.one.text')

      %section.step
        .step__number
          .icon-hhh-step-2
        %section.step__callout
          %h4= text('steps.two.title')
          %p= text('steps.two.text')

      %section.step
        .step__number
          .icon-hhh-step-3
        %section.step__callout
          %h4= text('steps.three.title')
          %p= text('steps.three.text')

      %section.step
        .step__number
          .icon-hhh-step-4
        %section.step__callout
          %h4= text('steps.four.title')
          %p= text('steps.four.text')

%section.contentSection
  %section.contentSection__action
    %p.action__message= text('action.message')
    = link_to text('action.button'), "#{Settings.links.company_sign_up_form}", class: 'button--large action__button', data: {analytics: 'click-partner-program'}
    %p.action__message--secondary= text('action.message_secondary')

%section.contentSection--alt
  .contentSection__content
    %h2.contentSection__heading= text('partner_companies.title')
    %hr.contentSection__hr

    = render '/featured_profiles'
