.companyProfile.l--stickyContent
  .grid--row
    .companyMain

      .grid--row
        .grid--2-3
          .companyProfile__logo= image_tag @company_profile.logo_url if @company_profile.logo?
      .grid--row
        .companyAbout
          = @company_profile.about.try :html_safe
      .grid--row
        = link_to text('connect_with_employer.button'), root_path, class: 'button--small', data: {analytics: 'click-get-started'}

    .companySidebar
      .grid--row
        .companySidebar--image
          - if @company_profile.images.count == 1
            = image_tag @company_profile.images.first.attachment
          - else
            .js--slides.slides
              - @company_profile.images.each do |image|
                = image_tag image.attachment

      - if @company_profile.video_embed?
        .grid--row
          .companySidebar--video.flex-video
            = @company_profile.video_embed.html_safe
      .grid--row
        .companySidebar--key-facts
          = @company_profile.key_facts.try :html_safe
      .grid--row
        .companySidebar--additional-info
          = @company_profile.additional_info.try :html_safe
