%li.profileList__item
  .item__imageContainer
    = image_tag audience_profile.primary_image, class:"item__profileImage"
    = link_to 'Hire me', company_profiles_path, class: "button--tiny item__profileButton"
  .item__detailContainer
    %h5.item__profileName= audience_profile.title
    %ul.tagList.less
      - audience_profile.all_tags.take(3).each do |skill|
        %li.tagList__item= skill
      - if audience_profile.all_tags.size > 3
        %li.item__more More...
    %ul.tagList.hide.more
      - audience_profile.all_tags.each do |skill|
        %li.tagList__item= skill
      %li.item__less Less...
    %p.item__profileDetail= truncate(audience_profile.bio, length: 130)
