%li.imageList__item--large
  = link_to company_profiles_path, class:"item__image" do
    = image_tag audience_type_detail.primary_image
  = link_to audience_type_detail.name, "#", class: "item__title"
  %p.item__detail= audience_type_detail.description
  = link_to text('audience_profile.button', scope: 'views.audience_types.show'), company_profiles_path, class: "button--small item__button"
