%li.imageList__item--large
  = link_to company_profiles_path, class:"item__image" do
    = image_tag featured_audience_profile.primary_image
  = link_to featured_audience_profile.title, company_profiles_path, class: "item__title"
  %p.item__detail= truncate(featured_audience_profile.bio, length: 210)
  - unless @audience_type.is_project_manager? || @audience_type.is_facility_manager?
    = link_to text('audience_profile.button', scope: 'views.audience_types.show'), company_profiles_path, class: "button--small item__button"
