= content_for :hero do
  %section.hero
    %h2.hero__headline= text('hero.headline')
    = link_to text('hero.button'), new_user_registration_path, class: 'button--large hero__button', data: {analytics: 'click-get-started'}

%aside.heroSupplement
  %ol.heroSupplement__list

    - t('views.pages.homepage.steps').keys.each_with_index do |step, i|
      %li.heroSupplement__item
        %figure.heroSupplement__listNumber= i + 1
        %figcaption.heroSupplement__listContent= text("steps.#{step}")

%section.contentSection
  .contentSection__content
    %h2.contentSection__heading= text('employer_partners.title')
    %hr.contentSection__hr
    %p.contentSection__lead= text('employer_partners.text')

  -# TODO: Wire up categories from company listings
  .contentSection__filters
    %ul.filters__list.js--filter
      %li.filters__item
        %a.filters__link.is-active{:href => "#all"} All
      - IndustryHelper::TYPES.each do |industry|
        %li.filters__item
          %a.filters__link{:href => "##{industry}"}
            = I18n.t industry, scope: 'enumerize.industry_types'

    %section.companies
      = render partial: "featured_partner", collection: @featured_companies

%section.contentSection--alt
  .contentSection__content
    %h2.contentSection__heading= text('professional_partners.title')
    %hr.contentSection__hr
    %p.contentSection__lead= text('professional_partners.text')

  %ul.contentSection__imageList
    = render partial: "audience_type", collection: @audience_types

  %section.contentSection__action
    %p.action__message
      = html('action.message', inline: true)
    = link_to text('action.button'), new_user_registration_path, class: 'button--large action__button', data: {analytics: 'click-get-started'}
    %p.action__message--secondary= text('action.message_secondary')

%section.contentSection
  .contentSection__content
    %h2.contentSection__heading= text('about.title')
    %hr.contentSection__hr
    %p.contentSection__lead= text('about.lead')
    %p.contentSection__detail--split= text('about.detail')
