= content_for :hero do
  %section.hero
    - if @audience_type.is_facility_manager? || @audience_type.is_project_manager?
      = render partial: "landing_page_partials/hero_landing_page_test"
    -else
      %h2.hero__headline
        = @audience_type.name
      %hr.hero__hr
      %p.hero__detail
        = @audience_type.description
      = link_to text('hero.button'), new_user_registration_path, class: 'button--large hero__button', data: {analytics: 'click-get-started'}

- if @featured_audience_profiles.present?
  %section.contentSection--alt
    .contentSection__content
      %h2.contentSection__heading= text('featured_profiles.title')
      %hr.contentSection__hr
      %p.contentSection__lead= text('featured_profiles.text')

    -# DESIGN: add hover, active states to links
    %ul.contentSection__imageList
      = render partial: "featured_audience_profile", collection: @featured_audience_profiles

- if @unfeatured_audience_profiles.present?
  %section.contentSection
    .contentSection__content
      %h2.contentSection__heading= text('featured_consultants.title')
      %hr.contentSection__hr
      %p.contentSection__lead= text('featured_consultants.text')
    %ul.contentSection__profileList
      = render partial: "audience_profile", collection: @unfeatured_audience_profiles

    %section.contentSection__action
      %p.action__message
        = html('action.message', inline: true)
      = link_to text('action.button'), new_user_registration_path, class: 'button--large action__button', data: {analytics: 'click-get-started'}
      %p.action__message--secondary= text('action.message_secondary')

- if @featured_companies.present?
  %section.contentSection--alt
    .contentSection__content#featured_companies
      %h2.contentSection__heading= text('featured_consulting_partners.title')
      %hr.contentSection__hr
      %p.contentSection__lead= text('featured_consulting_partners.text')

    .contentSection__filters
      %section.companies
        = render partial: "featured_partner", collection: @featured_companies

- if @audience_type.is_project_manager? || @audience_type.is_facility_manager?
  = render partial: "landing_page_partials/audience_profile_lp_test_form"

%section.contentSection
  .contentSection__content
    - if @audience_type.is_project_manager? || @audience_type.is_facility_manager?
      = render partial: "landing_page_partials/content_landing_page_test"
    - else
      %h2.contentSection__heading
        = text('about.title', audience: @audience_type.name)
      %hr.contentSection__hr
      %p.contentSection__lead= text('about.lead')
      %p.contentSection__detail--split
        = @audience_type.more_about
      = link_to text('about.button'), company_profiles_path, class: 'button--large action__button'
