= content_for :hero do
  %section.hero
    %h2.hero__headline= text('hero.headline')
    %hr.hero__hr
    %p.hero__detail= text('hero.detail')
    = mail_to Settings.email.info, text('team.button'), subject: text('team.mailto_subject'), class: 'button--large hero__button', data: {analytics: 'click-join-team'}

%section.contentSection
  .contentSection__content
    %h2.contentSection__heading= text('about.title')
    %hr.contentSection__hr
    %p.contentSection__lead= text('about.text')

%section.contentSection--alt
  .contentSection__content
    %h2.contentSection__heading= text('team.title')
    %hr.contentSection__hr
    .contentSection__container= html('team.text')
    = mail_to Settings.email.info, text('team.button'), subject: text('team.mailto_subject'), class: 'button--large', data: {analytics: 'click-join-team'}

%section.contentSection
  .contentSection__content
    %h2.contentSection__heading= text('faq.title')
    %hr.contentSection__hr

  .contentSection__faq
    %h4.hhh-faq__question= text('faq.questions.one')
    %p.hhh-faq__answer= text('faq.answers.one')

    %h4.hhh-faq__question= text('faq.questions.two')
    %p.hhh-faq__answer= text('faq.answers.two')

    %h4.hhh-faq__question= text('faq.questions.three')
    %p.hhh-faq__answer= text('faq.answers.three')

    %h4.hhh-faq__question= text('faq.questions.four')
    %p.hhh-faq__answer= text('faq.answers.four')
