%section.privacy-policy
  .grid--row
    .grid--1-1.text-center
      %h1
        Privacy Policy

    .grid--1-1
      %p
        %em Last Updated October 2013
      %p This Privacy Policy applies to use of, transactions made, personal information and data gathered on websites that are owned and/or operated by, or by authorized third parties on behalf of, Hard Hat Hub LLC (the “Site”), or by any of the other means described in this Privacy Policy.
      %p This Privacy Policy does not apply to any website owned and/or operated by or on behalf of any third party even if we provide a link to such website on one of our Sites.
      %p When we refer to “Hard Hat Hub,” “we,” “us,” or “our,” we mean Hard Hat Hub LLC, a Delaware limited liability company, or the subsidiary, or affiliate that operates the Site, provides its content or services, or processes information received through it, each as appropriate and applicable.
      %p When we refer to “you” or “your,” we mean the person accessing the Site.  If the person accessing the Site acts on behalf of, or for the purposes of, another person, including a business or other organization, “you” or “your” also means that other person, including a business organization.
      %h2 Overview
      %p We created this Privacy Policy to help you understand how we collect personal information, what information we collect, how we use it, the steps we take to safeguard it, and the choices you have regarding how it may be used and disclosed.  This Privacy Policy addresses some types of information, means of collecting information, and uses of information that may not presently apply to one or more of the Sites. We tell you about these types of information, means of collecting information, and uses of information anyway because we want to maintain flexibility in offering additional features without having to revisit our terms and conditions or this Privacy Policy every time we revise the Site or offer new functions. No description of any type of information, means of collecting information, or use of information will require us to collect any particular information, make any particular use of any information, or offer any particular functionality.
      %p This Privacy Policy does not apply to any other website or offline point of contact between us and you.  This Privacy Policy does not cover information we collect by means other than the Site.  If you have any questions about how we use information collected by means other than the Site, you should inquire at or before the time you give such information to us.
      %p
        Please review this Privacy Policy periodically as we may update it from time to time. Each time you visit the Site or provide us with information, by doing so you are accepting the practices described in this Privacy Policy at that time.
      %b
      %p Note that this Privacy Policy contains several important exceptions, most notably the exception involving use of information to identify and/or pursue persons who are under criminal investigation or who damage, or may damage, our information or other resources. Please read the entire Privacy Policy to be sure that you understand these exceptions.
      %h3 Child Online Privacy Protection Act (COPPA) Compliance and Related Information
      %p The Child Online Privacy and Protection Act (COPPA) regulates online collection of information from persons under the age of 13. It is our policy to refrain from knowingly collecting or maintaining personally identifiable information relating to any person under the age of 18. If you are under the age of 18, please do not supply any personally identifiable information through the Site. If you are under the age of 18 and have already provided personally identifiable information through the Site, please have your parent or guardian contact us immediately using the information below so that we can remove such information from our files.
      %h3 Information We Collect From You
      %p In order to operate the Site and provide you with information, products and services that may be requested by or of interest to you, we may collect and retain personal information (e.g., information that could be used to contact you such as full name, company name, postal address, phone number, email address).  Please note that nowhere on the Sites do we knowingly collect personal information from children under the age of 13.
      %h3 Your IP Address
      %p
        Like many websites, each time you visit the Site, we automatically collect your IP address and the web page from which you came. In order to administer and optimize the Sites for you and to diagnose problems with our Site, we use your IP address to help identify you and to gather broad demographic information about you.  We may also supplement the information listed above with anonymous Site traffic information that’s collected automatically when you visit our Site,
        %b
          plus with information acquired from our joint marketing partners, from third parties, and from our affiliated companies.

      %h3 Cookies
      %p
        We may use “cookies” in connection with operation of this Site.  A cookie is a piece of data stored on the computer that runs an Internet browser and is commonly used to store information about a consumer’s online activities, including information such as the content or advertisements that a consumer views or the pages a consumer visits within a particular website. It can contain information about you, your computer, your browser, your session, the websites you visit, and other information about you or others who use, or have used, the computer or browser you use to access the Internet. Cookies are used for record-keeping purposes: the stored information can be retrieved by our website server when you return to the website. This allows us to personalize or regulate the use of this Site, and also permits us to automate the access and data-entry functions of this Site (e.g., login information), to store online user account information, and to tailor the appearance or presentation of this Site to your preferences or interests. The cookies we use, if any, are not linked to any personally identifiable information while using this Site unless you have given us permission to link personally identifiable information to one or more cookies. You give us that permission any time you register on this Site, or identify yourself or the computer you are using through this Site.
      %p We use cookies as a convenience feature to save you time, to understand how our Site is used, and to improve the content and offerings on our Site. For example, we may use cookies to personalize your experience at our web pages or recall your specific information on subsequent visits (e.g. to recognize you by name when you return to our Site). We also may use cookies to offer you products, programs or services and targeted advertising. You can opt to have your browser reject cookies. Most or all browsers permit you to disable or reject cookies. You can do this by setting the preferences in the browser. Use the “help” feature of your browser to obtain more information about refusing cookies. If you set the browser you use to reject cookies, you may not be able to access the Site, use the full functionality of the Site or it may take additional time to utilize such functionality. If you opt to reject cookies, you may need to re-register with us every time you visit our Site.
      %p You should also know that companies that advertise on our Site (and their agents), one or more of the organizations with which we do business, or to which we provide links from the Site, might use their own cookies. We have no control over such organizations’ uses of cookies and users should review the privacy policies of such organizations to determine the uses such organizations make of cookies. This Privacy Policy does not cover how these companies use their cookies.
      %h3 Log Files
      %p We or our hosting provider may collect traffic information from visitors for statistical analysis and Site improvement. When you access the Site, we or our hosting provider may collect information about your visit in a log file on a server. Log file information may include, but is not limited to, internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, platform type, date/time stamp, and number of clicks. We or our hosting provider use this information to analyze trends, administer sites, track users’ movements in the aggregate, and gather demographic information for aggregate use. Our hosting provider and we may review this information to understand overall trends and to determine what kinds of content are popular and useful to users.
      %h3 Information Other Websites Collect From You
      %p Our Site may contain links to other websites operated by other parties whose practices may be different than ours. When you click on these links and visit these other websites, you need to be aware that we do not control these other websites or these other websites’ business practices, and that this Privacy Policy does not apply to these other websites. Consequently, the operators of these other websites may collect different kinds of information about you, and may use and disclose that information in different ways than we would if it were collected on the Site. You should check the other sites’ privacy notices since we have no control over information that is submitted to or collected by them. We encourage you to review their privacy policies and remind you that we will not be responsible for their actions.
      %h3 How We Use Personal Information
      %p We use your personal information to help us perform the services associated with the Site, to contact you with employment or employer information, to provide you with account login credentials, and to send you information, offers and other promotional materials from us and selected third parties.
      %h3 E-mails
      %p We may use your e-mail address to provide customer service information, to provide employment or employer information or to answer your questions and requests. We may also occasionally send you our e-mail updates, notifications, or other promotional information about our products and services or about the products and services of our affiliated companies or trusted third party partners. We may share your e-mail address with our affiliated companies to enable them to send you emails directly regarding their products and services, sales and other promotions.  We include information in each commercial email that allows you to stop receiving future communications.
      %h3 Telephone Contact
      %p If you provide us with your phone number, you may receive telephone contact from us for customer service communications, such as to provide employment or employer information.  If you call our customer service number, we may ask you for personal identification information, depending on the nature of your request, to assist us in responding to your requests and questions. We may retain this information for business and marketing purposes and to help us with future orders and requests from you.
      %p
        We may occasionally use your phone number to contact you with updates, sales notifications, or other promotional information about our products and services or those of our affiliated companies or trusted third party partners in which you may be interested. We may also make your personal information available to our affiliated companies and our other trusted third party partners to enable them to contact you directly with their promotional information, such as information about their products and services, sales and other promotions.
        %b
      %h3 Transfer of Business Assets
      %p
        We consider the information that you provide to us to be a business asset. Consequently, your information may be shared with a third party and may be included among transferred assets if we, any or all of our subsidiaries or affiliates, or any of their assets is ever acquired by a third party.
        %b
      %h3 Disclosure of Information for Legal and Other Purposes
      %p We may also disclose personal, financial and other information that you have provided when we determine that such disclosure is necessary to comply with law, required in connection with a legal proceeding, to cooperate with law enforcement or to protect the interests or safety of our company or other visitors to the Site or users of services or products provided by us. We may also disclose personal, financial and other information that you have provided to our subsidiary and parent companies and businesses, and other affiliated legal entities and businesses with whom we are under common corporate control.
      %h3 Clickstream Data
      %p As you use the Internet, a trail of electronic information is left at each website you visit. This information, which is sometimes referred to as “clickstream data,” can be collected and stored by a website’s server. Clickstream data can tell us the type of computer and browsing software you use and the address of the website from which you linked to our Site. We may use clickstream data as a form of non-personally identifiable information to anonymously determine how much time visitors spend on each page of the Site, how visitors navigate throughout the Site and how we may tailor our web pages to better meet the needs of visitors.
      %h3 Supplementation of Information
      %p We may supplement the information we receive from you with other information we receive from third party sources or clearinghouses. Thus, information we obtain through the Site may be intermingled with and used in conjunction with information obtained through sources other than our Site, including both offline and online sources.
      %h3 Our Security Precautions; Geographic Location of Information
      %p No website is 100% secure. You can usually tell whether encryption is being used by noting the “locked” or other status indicator on the browser you are using. If the browser you are using does not indicate that the session is secure (e.g. by displaying a lock, a key or similar icon), you should assume that the connection is not secure and that third parties will receive the information shared by you and us during that part of the session.
      %p Your information may be transferred to and maintained on computer networks which may be located outside of the state, province, country or other governmental jurisdiction in which you reside, and the country or jurisdiction in which these computer networks are located may not have privacy laws as protective as the laws in your country or jurisdiction.
      %h3 International Users
      %p If you are visiting the Site from outside of the United States, your connection may be through and to servers located in the United States, your registration, entries and orders placed through the Site may be fully processed in and from the United States and all information you provide may be processed and maintained in our web servers and internal systems located within the United States.  By using the Site, you authorize the export of personal information to the United States and its storage and use as specified above when you provide such information to us. This Privacy Policy and our legal obligations are subject to the laws of the State of Illinois and the United States, regardless of the location of any user. Any claims or complaints must be filed in the United States in the State of Illinois.
      %h3 Misappropriation of Personal Information
      %p For the purposes of any applicable law regarding notification of persons whose personal information was, or is reasonably believed to have been, acquired by an unauthorized person, any required notification may, where permitted by law, be made by the use of e-mail, telephone, fax, mail (including a notice printed in an available area of a bill or statement) or posting a notice on the Site. The specific means used is up to us and we will use our judgment based on the circumstances. Where any notice is to be sent to a specific address or number (such as e-mail address, physical address, telephone number, etc.), we will use the latest available address in our records. YOU AGREE TO THIS MEANS OF NOTIFICATION.
      %h3 Site and Service Updates
      %p
        We may also send to you updates and service announcements about our Site. You may not un-subscribe or opt not to receive such announcements because such announcements contain important information about the services offered through the relevant Site(s).
        %b
      %h3 Response Times
      %p We will use commercially reasonable efforts to make any changes you request. Many such changes may be accomplished using batch processing (i.e. collecting a number of similar change requests and making all such changes at once), so the changes may not be immediately effective. If you require an immediate change to your personally identifiable information and are unable to make such a change using the available Site resources, please contact us.
      %h3 Changes to This Privacy Policy
      %p We reserve the right to change, modify, or update this Privacy Policy at any time without notice. We indicate the date of the current Privacy Policy above, so you know when it was last updated. Continued use of this Site after any such revision or modification constitutes your acceptance of this Privacy Policy as so revised or modified.
      %p If we decide to change this Privacy Policy, we will post the changes on one or more sites and/or other places we deem appropriate.
      %h3 BY USING THE SITE(S), YOU AGREE TO THIS CHANGE PROCEDURE.
      %h3 Correcting or Updating Personal Information
      %p If your personal information changes or you have reason to believe that your personal information as we maintain it is incorrect and you are unable to change your personal information by logging into your account, you may contact us and we shall attempt to accommodate all reasonable requests for such changes. Note that some information may only be changed by contacting the administrator of the Site.
      %h3 Choice/Opt-out
      %p We recommend that users who no longer wish to receive promotional materials or have their information provided to third parties log into their accounts and modify their account settings, as users may have chosen to receive promotional materials in the account registration process.  If you are still receiving promotional materials 30 days after modifying your account settings, you may contact us directly using the information below to opt out of receiving such communications or having information shared. Our compliance with such requests may involve batch processing and other processes that take 30 days or longer.  If you opt not to receive such communications or allow us to share your information and then give your personal information to us again using the Site or under other circumstances that permit us to use your information, we will regard your opt-out as rescinded.  Also, please note that users may not necessarily opt out of receiving all communications from us or opt out of sharing certain information with third parties, as specified as being necessary in various potions of this Privacy Policy.
      %p
        You may additionally opt-out of receiving email communications by using the opt-out instructions included in an email you may receive from us.
        %b
      %p Please note that changing or deleting your information through the Site, or otherwise opting-out of receipt of email communications from us and third parties will only change or delete the data in our database for purposes of transacting future business on the Site and for managing future communications from us and third parties.
      %p If you have any questions or concerns about this Privacy Policy, the practices of the Site, or your dealings with the Site, you can contact us at:
      %p
        Hard Hat Hub, LLC
        %br
        1130 West Monroe
        %br
        Chicago, IL 60607
