%section
  .grid--row
    .grid--1-1.text-center
      %h1
        Terms & Conditions
  .grid--row
    .grid--1-1
      %p
        %em Last Updated October 2013
      %p Welcome to Hard Hat Hub, the website of Hard Hat Hub LLC (the “Site”).  The following Terms of Use apply to the use of the Site.  Please read these Terms of Use before you decide to use or otherwise interact with the Site.
      %p The entire contents of the Site are copyrighted by Hard Hat Hub LLC.
      %p © Copyright 2013 Hard Hat Hub LLC. All rights reserved.
      %p Any rights not expressly granted herein are reserved.
      %p When we refer to “Hard Hat Hub,” “we,” “us,” or “our,” we mean Hard Hat Hub LLC, a Delaware limited liability company, or the subsidiary, or affiliate that operates the Site, provides its content or services, or processes information received through it, each as appropriate and applicable.
      %p When we refer to “you” or “your,” we mean the person accessing the Site.  If the person accessing the Site acts on behalf of, or for the purposes of, another person, including a business or other organization, “you” or “your” also means that other person, including a business organization.
      %h4 User Access
      %p By accessing, browsing or otherwise using (collectively, “using”) this Site, you acknowledge that you, the individual user of this Site, have read, understood and agree to be legally bound by these Terms of Use, and to comply with all applicable laws and regulations, without limitation or qualification.  By using this Site, you further acknowledge that you have the authority and do hereby legally bind the business entity, if any, to which you serve as an agent, independent contractor or employee thereof to the same Terms of Use, without limitation or qualification.  These Terms of Use shall take effect immediately on your first use of the Site.  If you do not agree to the Terms of Use, you are not authorized to access, browse or otherwise use this Site.
      %p You must be 13 years of age or older to visit or use the Site, and, if you are under the age of 18 or the age of majority as defined in your jurisdiction, your use must be supervised by a parent or legal guardian.  No content on the Site is intended for individuals under the age of 13.
      %p Hard Hat Hub, at its sole discretion, reserves the right to alter or change these Terms of Use at any time.  Any modifications will become effective when posted on this Site.  By using this Site after any changes in these Terms of Use, you agree to be legally bound by the Terms of Use as amended.  Therefore, you should frequently revisit this page to determine the present terms and conditions to which you are legally bound.
      %p We may terminate your right to use this Site without cause at any time and effective immediately.  In addition, we may terminate your right to use this Site or any of its Sites immediately and without notice for violation of any part of these Terms of Use.  In the event of any such termination, the restrictions on your use of the material on this Site shall survive such termination, and you agree to be bound by those terms.
      %h4 Privacy Policy
      %p Please review our Privacy Policy at the link below to understand our practices related to our collection and use of personal information via the Site.
      %p
        %a{href: "../pages/privacy-policy", target: "_blank", title: "Privacy Policy"} Privacy Policy
      %h4 Legal Disclaimers
      %p
        %span{style: "text-decoration: underline;"}> No Employment Advice
      %p The information posted here by Hard Hat Hub or any third party should not be considered employment or legal advice and is not intended to replace consultation with a qualified legal professional. Hard Hat Hub does not answer specific legal or employment questions.
      %p
        %span{style: "text-decoration: underline;"}> Non-Discrimination
      %p Hard Hat Hub does not consider, review nor solicit information regarding the nationality, race, gender, sexual-orientation, age, or marital status in providing the services on this Site.  By accessing and using this site, you forever waive, release, discharge and agree to hold harmless Hard Hat Hub from any and all liability, claims, actions, demands or allegations arising out of or in connection with any actions or omissions of Hard Hat Hub related to the services of this Site, including employment information services, under any federal, state, or local employment laws, statutes, public policies, orders or regulations, including without limitation, the Age Discrimination in Employment Act, Title VII of the Civil Rights Act, and the Americans with Disabilities Act.
      %p
        %span{style: "text-decoration: underline;"}> No Warranties
      %p All information and materials provided on this Site as well as links to third-party sites are provided on an “AS IS,” “WHERE IS” and “WHERE AVAILABLE” basis and subject to change without notice. HARD HAT HUB does not warrant the information or materials provided herein or your use of this Site, either expressly or impliedly, for any particular purpose and expressly disclaims all implied warranties, including but not limited to, warranties of title, non-infringement, merchantability or fitness for a particular purpose. HARD HAT HUB does not guarantee the accuracy, validity, timeliness or completeness of any information or data provided on this Site. HARD HAT HUB does not warrant that functions contained on this Site will be uninterrupted or error-free, that defects will be corrected, or that this Site or the server are free of viruses or other harmful components. HARD HAT HUB does not guarantee continuous, uninterrupted or secure access to the Site.
      %p
        %span{style: "text-decoration: underline;"}> Disclaimer of Liability
      %p The user assumes all responsibility and risk for the use of this Site and the Internet generally. Under no circumstances, including negligence, shall Hard Hat Hub or anyone else involved in creating or maintaining this Site be liable for any DIRECT, INDIRECT, INCIDENTAL, SPECIAL or CONSEQUENTIAL DAMAGES, or LOST PROFITS that result from the use or inability to use the Site and/or any other web sites which are linked to this Site. Nor shall we be liable for any such damages including, but not limited to, reliance by a member or visitor on any information obtained via the Site; or that result from mistakes, omissions, interruptions, deletion of files, viruses, errors, defects, or any failure of performance, communications failure, theft, destruction or unauthorized access.
      %p In states which do not allow some or all of the above limitations of liability, liability shall be limited to the greatest extent allowed by law.
      %p
        %span{style: "text-decoration: underline;"}> Third Party Content
      %p We are a DISTRIBUTOR (NOT PUBLISHER) of the content supplied by members, visitors and other third parties. Accordingly, we have no more editorial control over this content than does a public library. Any opinions, advice, statements, services, offers or other information or content made available by members, visitors and other third parties are those of the respective author(s) and we are not responsible for any material posted by third parties. Hard Hat Hub cannot and does not endorse it in any way, nor does it vouch for its accuracy or usefulness. Furthermore, we expressly disclaim any liability associated with material posted by third parties.
      %p
        %span{style: "text-decoration: underline;"}> Disclaimer of Endorsement
      %p Reference to any products, services, hypertext link to the third parties or other information by trade name, trademark, supplier or otherwise does not necessarily constitute or imply its endorsement, sponsorship or recommendation by Hard Hat Hub.
      %h4 Intellectual Property and Other Restrictions
      %p All information and content provided on this Site, whether explicitly marked or not, are the property of Hard Hat Hub, its subsidiaries, affiliated companies or joint partners, or others, and are subject to U.S. and international copyright and unfair competition laws.  The information and content provided includes, but is not limited to, the text, graphics, image, video, audio, animation, software, their related files and their arrangement on the Site.
      %p All trademarks, servicemarks, logos, model and brand names, emblems and protectable trade dress elements (collectively, “Marks”), whether explicitly marked or not, used on this Site are owned by Hard Hat Hub, its subsidiaries, affiliated organizations or joint partners, or used under license, and are subject to U.S. (federal and state) and international trademark and unfair competition laws.
      %p You may not copy, reproduce, download, upload, post, broadcast, transmit, distribute, publish, republish, or otherwise use any information, content or Marks provided on this Site in any form or by any means, or by any information storage or retrieval system for any commercial use without our express written permission.  You may, however, copy, print or otherwise use the information, content or Marks provided on this Site provided that the use is for your personal, educational or internal business use only and further provided that you: (1) maintain all copyright and other intellectual property notices together and intact with any information or content; (2) do not modify or otherwise alter any information or content; and (3) do not expressly or implicitly suggest an association with any services, product, brands or affiliates through the use of any information or content.  Other use of any information, content or Marks, except as specifically permitted in these Terms of Use or in a written instrument signed by Hard Hat Hub is strictly prohibited.
      %p Nothing contained in this Site shall be construed as conferring by implication, estoppel, or otherwise, any license or right to any copyright, patent, trademark or other proprietary interest of Hard Hat Hub or any third party.
      %p You are not permitted to create a hyperlink to any page or portion of this Site or frame any page or portion of this Site without our prior written permission.
      %p Any use of the information, content or Marks provided on this Site that does not comport with the Terms of Use shall be an unauthorized use and subject you to civil and criminal penalties as provided by applicable U.S.  and international intellectual property laws.
      %p
        %span{style: "text-decoration: underline;"}> Online Conduct
      %p Members and visitors agree to use the Site only for lawful purposes and are prohibited from posting on the Site any unlawful, harmful, threatening, abusive, harassing, defamatory or obscene material of any kind, including, but not limited to, any material which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national or international law.
      %h4 Use of the Site
      %h4
        %span{style: "text-decoration: underline;"} General Use
      %p The Site is intended for use by individuals seeking employment and by employers seeking professionals for employment. Any other use of the Site is strictly prohibited.
      %h4
        %span{style: "text-decoration: underline;"} Use by Individuals Seeking Employment
      %p As an individual seeking employment, you agree to only use the Site for your own personal, non-commercial use.
      %h4
        %span{style: "text-decoration: underline;"} Use by Employers
      %p As an employer, your use of the Site may be subject to other contracts with Hard Hat Hub.  In the case of conflict between these Terms of Use and any other contract that you may have with Hard Hat Hub, the terms of the contract shall prevail.
      %h4
        %span{style: "text-decoration: underline;"} Interaction with Site
      %p As a user of the Site, you may have the opportunity to post information, make comments, upload documents, submit feedback or otherwise contribute material to the Site (“User Contributions”).  You agree to and hereby grant to Hard Hat Hub an irrevocable, perpetual, royalty-free, paid-up, unlimited, right and license, with the right to sublicense, throughout the world to make use of, including to reproduce, to prepare derivative works, to distribute copies, to publicly display or perform, the User Contributions in whatever form Hard Hat Hub desires without limitation.  Hard Hat Hub may alter, remove or delete any User Contribution, or portion thereof, at any time at its sole discretion.
      %h4 As a user of the site you agree:
      %ul
        %li (a) all User Contributions submitted by you are accurate and truthful and are not misleading in any manner;
        %li (b) not to share your username or password with any third party;
        %li (c) not to aggregate, copy or share any of the information on the Site with any third party unless permitted by these Terms of Use; and
        %li (d) not to use any data mining, robots or other data extraction gathering or extraction methods.
      %h4
        %span{style: "text-decoration: underline;"} International Use
      %p Hard Hat Hub makes no representation that materials on the Site are appropriate or available for use in locations outside the United States, and accessing them from territories where their contents are illegal is prohibited.  Those who choose to access the Site from other locations do so on their own initiative and are responsible for compliance with local laws.
      %h4 Notice and Procedure for Making Claims of Copyright Infringement
      %p Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright infringement under United States copyright law should be sent to the Site’s Designated Agent:
      %p Hard Hat Hub LLC
      %p 1130 West Monroe
      %p Chicago, IL 60607
      %h4 ALL INQUIRIES NOT RELEVANT TO COPYRIGHT COMPLAINTS WILL RECEIVE NO RESPONSE.
      %h4 Violation of the Terms
      %p You understand and agree that in Hard Hat Hub’s sole discretion, and without prior notice, we may terminate your access to the Site, cancel your order or exercise any other remedy available and remove any unauthorized User Contribution, if we believe that the User Contribution you provided has violated or is inconsistent with these Terms of Use or violated the rights of Hard Hat Hub, another user, or the law.  You agree that monetary damages may not provide a sufficient remedy to Hard Hat Hub for violations of these Terms of Use and you consent to injunctive or other equitable relief for such violations.  Hard Hat Hub may release user information about you if required by law or subpoena, or if the information is necessary or appropriate to release to address an unlawful or harmful activity.  Hard Hat Hub is not required to provide any refund to you if you are terminated as a user because you have violated these Terms of Use.
      %p Hard Hat Hub is not responsible for the products, services, actions or failure to act of any third party referenced on the Site.  Without limiting the foregoing, you may report the misconduct of users and/or third party advertisers, service and/or product providers referenced on or included in the Site.  We may investigate the claim and take appropriate action, in our sole discretion.
      %h4 Substantive Laws of the State of Illinois Apply
      %p These Terms of Use are governed by the substantive laws of the State of Illinois, without respect to its conflict of laws principles. You agree to submit to the jurisdiction of the state and federal courts situated in the State of Illinois with respect to any dispute, disagreement, or cause of action related to or involving this Site. If any provision is found to be invalid by any court having competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Use, which shall remain in full force and effect. No waiver of any of these Terms of Use shall be deemed a further or continuing waiver of such term or any other term. Except as expressly provided elsewhere in our Site or in another written contract between you and Hard Hat Hub, these Terms of Use constitute the entire agreement between you and Hard Hat Hub with respect to your use of the Site.
      %h4 Information Subject to Change
      %p Any information on this Site may include technical inaccuracies or typographical errors. Furthermore, the information may change from time to time without any notice.
      %h4 Passwords
      %p Members are responsible for maintaining the confidentiality of their passwords and are liable for any harm caused by disclosing or allowing disclosure of any password.
      %p
        %b Miscellaneous
      %p You warrant to Hard Hat Hub  that you will not attempt to gain unauthorized access to any services offered by Hard Hat Hub  or computer systems or networks connected to any Hard Hat Hub  server through hacking, password mining or any other means.  You may not obtain or attempt to obtain any materials or information through any means not intentionally made available by Hard Hat Hub .  When using the Site you agree not to pretend to be someone else or spoof their identity.
      %p You agree to defend, indemnify, save and hold harmless Hard Hat Hub , its subsidiaries, affiliated companies, joint partners, licensees and their respective directors, officers, employees and agents from and against all liabilities, claims, damages and expenses, including reasonable attorneys’ fees as incurred, arising out of your use of this Site including any violation or alleged violation of these Terms Use, and any losses or claims arising out of your use of any products or services you may have obtained on one of our Sites.
      %p THESE LEGAL NOTICES ARE SUBJECT TO CHANGE WITHOUT NOTICE
