// Animation Utilities
.animate--stretchRight{
  animation-name: stretchRight;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  transform-origin: 0% 0%;
}

@keyframes stretchRight {
  0% {
    transform: scaleX(0.3);
  }
  40% {
    transform: scaleX(1.02);
  }
  60% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(0.98);
  }
  80% {
    transform: scaleX(1.01);
  }
  100% {
    transform: scaleX(1);
  }
}

.animate--slideDown{
  animation-name: slideDown;
  animation-duration: .75s;
  animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-20%);
  }
  50%{
    transform: translateY(20%);
  }
  65%{
    transform: translateY(-20%);
  }
  80%{
    transform: translateY(15%);
  }
  85%{
    transform: translateY(-15%);
  }
  95%{
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
