/* ******************************************************************************
 *
 * Font Stacks
 *
 * We should set up our font stacks in the variables file. Then, when we want to
 * set our font on a selector we call the family, weight and style in the mixin.
 *
 * EX: (Bold headlines)
 *
 * .selector {
 *   @include font($headline-font, 700);
 * }
 *
 ****************************************************************************** */

@mixin font($font-family: $body-font, $weight: 400, $style: normal) {
  font-family: $font-family;
  font-style: $style;
  font-weight: $weight;
}

/* ******************************************************************************
 *
 * Font Sizing
 *
 * This mixin sets our font sizes in rem values, with a px fallback for IE8. You
 * should set up the font-sizes as extendable classes and then use @extend to
 * apply a font size to a selector. There is a loop in 01extends/fonts that
 * creates extendable classes for any sizes we want. To add new sizes, add it to
 * $font-sizes variables with the numbers being looped through there.
 *
 * EX: (12px type)
 *
 * %size--12 {
 *   @include font-size(12);
 * }
 *
 * .selector {
 *   @extend %size--12;
 * }
 *
 ****************************************************************************** */

@mixin font-size($pixels) {
  font-size: #{$pixels}px;
  font-size: #{$pixels/$base-size}rem;
}

/* ******************************************************************************
 *
 * Retina Images
 *
 * Save 2 versions of background images: 1 at actual size, 1 twice as big. Pass
 * them in as variables, using the asset pipeline paths. Then, a few things
 *  happen:
 *
 * 1. The small image is made the background of the item.
 * 2. If the device has a pixel density of 1.5 or higher (output with Scut) the
 *    large image is used instead.
 * 3. The large image is resized to the same dimensions of the small image
 *    (using Compass functions).
 *
 * EX: (logo swap)
 *
 * .logo {
 *   @include image-2x('logos/gs.png', 'logos/gs_@2x.png');
 * }
 *
 ****************************************************************************** */

@mixin image-2x($sm-image, $lg-image) {
  background-image: url(image-path($sm-image));
  @include scut-hd-bp(1.5) {
    background-image: url(image-path($lg-image));
    background-size: image-width($sm-image) image-height($sm-image);
  }
}

/* ******************************************************************************
 *
 * Text Utilities
 *
 ****************************************************************************** */

@mixin word-wrap {
  word-break: break-all;
  hyphens: auto;
}

/* ******************************************************************************
 *
 * IE8 Transparency
 *
 * Mimic transparent overlay in IE8 with filters and transparent gradients.
 * Fallback for missing rgba support. Use only when necessary, as this will slow
 * down rendering. Solid color fallbacks are prefered when possible. Mixin uses
 * Sass functions to convert the passed in color to an rgba color, and then
 * to convert the rgba color to an IE hexadecimal color value with opacity.
 * Finally, that color is used in an MS filter to create a gradient from and
 * to itself.
 *
 * Seriously.
 *
 ****************************************************************************** */

@mixin ie-opacity($color, $alpha) {
  $transparent-color: transparentize($color, $alpha);
  $ie-transparent-color: ie_hex_str($transparent-color);
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-transparent-color},endColorstr=#{$ie-transparent-color})"; /* IE8 */
  zoom: 1;
}
