// Miscellaneous useful HTML classes
.left   { float: left !important; }
.right  { float: right !important; }
.clearfix     { @include clearfix; }
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.text-center  { text-align: center !important; }
.text-justify { text-align: justify !important; }
.hide         { display: none; }
// Bidi counterparts to .left, .right, .text-left, .text-right
.start { float: $default-float !important; }
.end   { float: $opposite-direction !important; }
.text-start { text-align: $default-float !important; }
.text-end   { text-align: $opposite-direction !important; }

.ko-text { color: $white; }
