$base-size: 10;
$base-font-size: $base-size * 1px;

/* ******************************************************************************
 *
 * TABLE OF CONTENTS:
 *
 *  1. Breakpoints
 *  2. Colors
 *  3. Borders
 *  4. Layout
 *  5. Fonts
 *
 ****************************************************************************** */


// ------------------------------------
// Breakpoints
//
// EX:
//
// .selector {
//   ... stuff ...
//   @media #{$bp--named-query} {
//     ... responsive styles ...
//   }
// }
//
// ------------------------------------

/* --- Set the breakpoints --- */


$bp--small: 480;
$bp--medium: 700;
$bp--large: 840;
$bp--xlarge: 1080;
$bp--xxlarge: 1200;

/* --- Build our ranges --- */

$bp--xsmall-range: (pem(0), pem($bp--small)); /* 0, 480px */
$bp--small-range: (pem($bp--small + 1), pem($bp--medium)); /* 480, 700px */
$bp--medium-range: (pem($bp--medium + 1), pem($bp--large)); /* 701px, 840px */
$bp--large-range: (pem($bp--large + 1), pem($bp--xlarge)); /* 841px, 1081px */
$bp--xlarge-range: (pem($bp--xlarge + 1), pem($bp--xxlarge)); /* 1080px, 1200px */
$bp--xxlarge-range: (pem($bp--xxlarge + 1)); /* 1201px */

/* --- Create our named queries --- */

$bp--screen: "only screen";

$bp--landscape: "#{$bp--screen} and (orientation: landscape)";
$bp--portrait: "#{$bp--screen} and (orientation: portrait)";

$bp--small-up: "#{$bp--screen} and (min-width:#{lower-bound($bp--small-range)})";
$bp--small-only: "#{$bp--screen} and (max-width: #{upper-bound($bp--small-range)})";
$bp--small-down: "#{$bp--screen} and (max-width: #{upper-bound($bp--xsmall-range)})";

$bp--medium-up: "#{$bp--screen} and (min-width:#{lower-bound($bp--medium-range)})";
$bp--medium-only: "#{$bp--screen} and (min-width:#{lower-bound($bp--medium-range)}) and (max-width:#{upper-bound($bp--medium-range)})";
$bp--medium-down: "#{$bp--screen} and (max-width: #{upper-bound($bp--medium-range)})";

$bp--large-up: "#{$bp--screen} and (min-width:#{lower-bound($bp--large-range)})";
$bp--large-only: "#{$bp--screen} and (min-width:#{lower-bound($bp--large-range)}) and (max-width:#{upper-bound($bp--large-range)})";
$bp--large-down: "#{$bp--screen} and (max-width: #{upper-bound($bp--large-range)})";

$bp--xlarge-up: "#{$bp--screen} and (min-width:#{lower-bound($bp--xlarge-range)})";
$bp--xlarge-only: "#{$bp--screen} and (min-width:#{lower-bound($bp--xlarge-range)}) and (max-width:#{upper-bound($bp--xlarge-range)})";
$bp--xlarge-down: "#{$bp--screen} and (max-width: #{upper-bound($bp--xlarge-range)})";

$bp--xxlarge-up: "#{$bp--screen} and (min-width:#{lower-bound($bp--xxlarge-range)})";
$bp--xxlarge-only: "#{$bp--screen} and (min-width:#{lower-bound($bp--xxlarge-range)}) and (max-width:#{upper-bound($bp--xxlarge-range)})";
$bp--xxlarge-down: "#{$bp--screen} and (max-width: #{upper-bound($bp--xxlarge-range)})";


/* --- Set some colors --- */

$black: #000;
$white: #fff;

$off-white: #fbfbfb;
$xlt-gray: #e2e2e2;
$lt-gray: #d5d5d5;
$gray: #bcbcbc;
$dk-gray: #898989;
$xdk-gray: #565656;

$hhh-white: #edeeec;
$hhh-gray: #5e5e5e;
$hhh-blue: #204050;
$hhh-blueLight: #69b1Db;
$hhh-orange: #ac6f22;
$hhh-red: #ff5200;
$hhh-darkGray: #413e49;
$hhh-medGray: #d1d0cb;
$hhh-basicGray: #e3e2dc;
$hhh-lightGray: #e8e8e3;
$hhh-lightText: #58595b;

$hhh-brand: $hhh-orange;
$hhh-accent: $hhh-blueLight;

$profile--hover: $off-white;

$linkedin-blue: #007bb6;
$linkedin-accent: #87c2de;

$wizard--bg: $hhh-lightGray;
$wizard--bgMobile: $white;
$wizard--label: $lt-gray;
$wizard--labelHover: $gray;
$wizard--labelMargin: 10px;
$wizard--checkedOption: #0085b9;
$wizard--checkedOptionHover: darken(#0085b9, 5%);
$wizard--lightGray: $hhh-lightGray;
$wizard--gray: $gray;
$wizard--step: $hhh-blue;
$wizard--stepMobile: $white;
$wizard--stepBorderWidth: 1px;

$red: #f04124;

$body--bg: $white;

$mainNav--bg: $hhh-blue;
$mainNav--color: $hhh-white;
$footer--bg: $hhh-blue;

$sideNav__head--color: $hhh-orange;
$sideNav__section--bg: $white;

$companySidebar--color: $hhh-darkGray;
$companySidebar--borderColor: $hhh-darkGray;

$hrMain--color: $hhh-orange;
$hrAlt--color: $hhh-blue;
$hrNeutral--color: $hhh-lightGray;

// Heros
$hero--bg: $hhh-blue;
$heroSupplement--bg: $hhh-lightGray;
$heroSupplement--color: $hhh-darkGray;

// Content sections
$contentSection--bg: $hhh-basicGray;
$contentSection--alt--bg: $hhh-lightGray;
$sectionHeading--color: $hhh-blue;
$sectionLead--color: $hhh-darkGray;

$sectionFilters--link: $hhh-blue;
$sectionFilters--hover: $hhh-orange;
$sectionFilters--active: lighten($hhh-orange, 10%);
$sectionFilters--visited: $hhh-blue;
$sectionFilters--focus: $hhh-orange;

$imageListTitle--link: $hhh-darkGray;
$imageListTitle--hover: lighten($hhh-darkGray, 10%);
$imageListTitle--active: darken($hhh-darkGray, 10%);
$imageListTitle--visited: $hhh-darkGray;
$imageListTitle--focus: lighten($hhh-darkGray, 10%);

$actionMessage--color: $hhh-blue;

$item__profileName--color: $hhh-darkGray;

$tag--color: $white;
$tag--bg: $hhh-lightText;

$listNumber--bg: $hhh-blue;
$listNumber--color: $white;

// Content section - image list sizes
$itemImage--xlarge: 225px;
$itemImage--large: 200px;
$itemImage--medium: 175px;
$itemImage--small: 150px;
$itemImage--small--vw: 40vw;

// Forms
$formEntry--bg: lighten($xlt-gray, 5%);
$formEntry--border: $gray;
$formEntry--borderWidth: 1px;
$formLink--color: $hhh-darkGray;
$formSection--borderWidth: 1px;
$formSection--color: $gray;

$formNav--border: $gray;

// Buttons
$button--bg: $hhh-red;
$buttonWarning--color: $hhh-gray;
$buttonWarning--spacing: 5px;

$linkedin--bg: $linkedin-blue;
$linkedin--color: $white;
$linkedin--hover: darken($linkedin-blue, 4%);
$linkedin--border: $linkedin-accent;

$buttonIconSize--small: 20px;
$buttonIconSize--large: 40px;

$bg--profile: #F8F8F8;

$borderColor--small: darken($dk-gray, 15%);

$linkColor--tab: $xdk-gray;
$linkColor--tab--active: $black;
$linkColor--formNav: $dk-gray;
$linkColor--formNav--hover: $xdk-gray;
$linkColor--delete: $red;

$labelColor--button: $lt-gray;



$tabProgress--bg: $hhh-medGray;
$tabProgress--complete: $hhh-red;

$wizard--buttonWidth: 150px;
$wizard--buttonWidthMobile: 110px;


/* --- Define border stuff --- */

$border--width: 1px;
$borderRadius: 2px;
$borderRadius--circle: 50%;
$borderRadius--rounded: 50px;
$border--color: #ebebeb;
$border--color--contentSection: $hhh-medGray;

$menu--border-width: $border--width;
$menu--border-color: $hhh-white;

$imageList__image--border-width: 4px;
$imageList__image--border-color: $hhh-lightGray;
$imageList__image--border-color--alt: $hhh-orange;

$imageList__image--active: darken($imageList__image--border-color, 12%);

$filter--border-color: $hhh-medGray;

$divider--color: $hhh-blue;
$divider--height: 16px;

/* --- Define layout stuff --- */

$gutter: 20px;
$mainNav--lineHeight: 45px;
$listNumber--size: 60px;

$listNumber--sizeSm: $listNumber--size/1.25;
$listNumber--sizeLg: $listNumber--size*1.25;

$itemProfileImage--size: 70px;


/* --- Define transitions --- */
$transitionTime: 0.2s;
$transitionType: ease-in-out;


/* --- Define font variables --- */

$sansSerif: "ProximaNova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$fontWeight--regular: 400;
$fontWeight--semiBold: 600;
$fontWeight--bold: 700;
$fontWeight--extraBold: 800;
