.professionalProfile
  = render partial: '/professional_header', locals: { profile_piece: @professional_profile }

  %section.container
    = render "layouts/profile_sidebar"
    %section.mainContent--form
      %section.formWrapper
        %section.formNav--small
          = render "form_nav"
        %header.formHeader
          %h3.formHeader__title
            =t('views.work_histories.nav_title')
          %section.formHeader__action
            = link_to omniauth_authorize_path(current_user, :linkedin, state: current_user, limit_to: "work_history"), class: "button--linkedinSmall js--buttonWorking" do
              %span.button__icon
              %span.button__text= t('linkedin.import')
            %span.legal
              = t('linkedin.tooltip.import')

        %section.formHelp
          %h4=t("views.work_histories.help_title")
          %p=t("views.work_histories.help_text")

        %section.formEntry
          = simple_form_for WorkHistory.new, url: professional_profile_work_histories_path,  html: { class: 'js-dirty-check', data: {analytics: "submit-work"}  } do |f|
            %section.formBlock
              %section.formBlock__section--full
                = f.input :company,
                          label_html: {class: "label--standard"},
                          wrapper_html: {class: "inputWrapper--fifth"}

                = f.input :position,
                          label_html: {class: "label--standard"},
                          wrapper_html: {class: "inputWrapper--fifth"}

                = f.input :from_date,
                          use_short_month: true,
                          discard_day: true,
                          start_year: Time.now.year - 60,
                          end_year: Time.now.year,
                          placeholder: "Pick the start date",
                          wrapper_html: {class: "inputWrapper--fifth"},
                          input_html: {class: "date-picker inputWrapper--inner"},
                          label_html: {class: "label--standard"},
                          order: [:month, :year]
                = f.input :to_date,
                          use_short_month: true,
                          discard_day: true,
                          start_year: Time.now.year - 60,
                          end_year: Time.now.year,
                          placeholder: "Pick the end date",
                          wrapper_html: {class: "inputWrapper--fifth"},
                          input_html: {class: "date-picker inputWrapper--inner"},
                          label_html: {class: "label--standard"},
                          order: [:month, :year]

                = f.input :current,
                          wrapper_html: {class: "inputWrapper--fifth inputWrapper--omega"},
                          label_html: {class: "label--standard"},
                          input_html: {class: "js-current-history"}

                = f.input :summary,
                          label_html: {class: "label--standard"}

            %section.formBlock__save
              %section.formBlock__section--action
                = f.submit t("views.work_histories.add_entry"), class: "button--small"

        %section.formBlock__section--full
          - @professional_profile.work_histories.each do |wh|
            - if wh.summary
              .historyEntry--withSummary
                %section.historyEntry__section
                  %strong=wh.company
                %section.historyEntry__section=wh.position
                %section.historyEntry__section
                  %span=text("time_span", start: wh.try(:from_date).try(:strftime, "%b %Y"), end: wh.try(:to_date).try(:strftime, "%b %Y") || "present")
                %section.historyEntry__section.text-right=link_to t("views.work_histories.delete_entry"),
                  professional_profile_work_history_path(@professional_profile, wh), class: "link--delete", method: :delete
                %section.historyEntry__jobSummary=wh.summary
            - else
              .historyEntry
                %section.historyEntry__section
                  %strong=wh.company
                %section.historyEntry__section=wh.position
                %section.historyEntry__section
                  %span=text("time_span", start: wh.try(:from_date).try(:strftime, "%b %Y"), end: wh.try(:to_date).try(:strftime, "%b %Y") || "present")
                %section.historyEntry__section.text-right=link_to t("views.work_histories.delete_entry"),
                  professional_profile_work_history_path(@professional_profile, wh), class: "link--delete", method: :delete

        %section.formBlock
          %section.formBlock__section--action
            = render "form_nav"
