%section.contentSection.l--stickyContent
  .contentSection__content
    %h2.contentSection__heading= t('devise.sessions.new.heading')
    %hr.contentSection__hr
    %p.contentSection__lead= t('devise.sessions.new.text')

    .formSignup--narrow
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :data => {:analytics => "sign-in"}) do |f|
        %fieldset
          = f.input :email,
                    :required => false,
                    :autofocus => true,
                    placeholder: "you@example.com",
                    wrapper_html: { class: "formSignup__input--full" }
          = f.input :password,
                    :required => false,
                    wrapper_html: { class: "grid--row" },
                    wrapper_html: { class: "formSignup__input--full" }
          = f.input :remember_me,
                    :as => :boolean,
                    wrapper_html: { class: "formSignup__input--full" } if devise_mapping.rememberable?
          = f.button :submit, t('devise.sessions.new.button'), class: "button--large"

    .divider
      %span or

    - if devise_mapping.omniauthable?
      .formSignup--linkedin
        %section.formSignup__section
          - resource_class.omniauth_providers.each do |provider|
            = link_to omniauth_authorize_path(resource_name, provider), class: 'button--linkedin' do
              %span.button__icon
              %span.button__text= t('linkedin.login')

      = render "users/shared/links"
