=link_to t('back.travel_preferences'), edit_profile_component_path(@professional_profile.travel_preference), class: "link--formNav left"
=link_to t('next.salary_preferences'), edit_profile_component_path(@professional_profile.salary_preference), class: "link--formNav right"
