.professionalProfile
  = render partial: '/professional_header', locals: { profile_piece: @schedule_preference }

  %section.container
    = render "layouts/profile_sidebar"
    %section.mainContent--form
      %section.formWrapper
        %section.formNav--small
          = render "form_nav"
        %header.formHeader
          %h3=t("views.schedule_preferences.nav_title")
        %section.formHelp
          %h4=t("views.schedule_preferences.help_title")
          %p=t("views.schedule_preferences.help_text")
        %section.formEntry
          = simple_form_for update_profile_component_path(@schedule_preference), html: { class: 'js-dirty-check', data: {analytics: "submit-schedule"} } do |f|
            %section.formBlock
              %section.formBlock__section--full
                %label.label--standard= work_type_heading
                %input{type:"checkbox", class:"input--selectAll js-select-all", id: "select-all-regions"}
                .labelWrapper
                  %label.label--selectAll{for: "select-all-regions"}=t("views.shared.select_all")
                = f.input :full_time
                = f.input :part_time
                = f.input :contract
                = f.input :internship
                = f.input :other_concerns,
                          label_html: {class: "label--standard"}
            %section.formBlock
              %section.formBlock__section--action
                = f.submit t("views.schedule_preferences.submit"), class: "button--update"
        %section.formBlock
          %section.formBlock__section--action
            = render "form_nav"
