%section.contentSection.l--stickyContent
  .contentSection__content
    %h2.contentSection__heading= t('views.webhook_users.account_activation')
    %hr.contentSection__hr
    %p.contentSection__lead
      =link_to t('views.webhook_users.activation.error'), 'mailto:admin@hardhathub.com'
