%section.contentSection.l--stickyContent
  .contentSection__content
    %h2.contentSection__heading= t('views.webhook_users.account_activation')
    %hr.contentSection__hr
    %p.contentSection__lead= t('views.webhook_users.activation.success')
    =image_tag 'mail_envelope.png'
    %p.contentSection__lead
      %strong= t('views.webhook_users.activation.success_check_email')
