=link_to t('back.schedule_preferences'), edit_profile_component_path(@professional_profile.schedule_preference), class: "link--formNav left"
=link_to t('next.qualifications'), edit_profile_component_path(@professional_profile.qualification), class: "link--formNav right"
