.professionalProfile
  = render partial: '/professional_header', locals: { profile_piece: @salary_preference }

  %section.container
    = render "layouts/profile_sidebar"
    %section.mainContent--form
      %section.formWrapper
        %section.formNav--small
          = render "form_nav"
        %header.formHeader
          %h3=t("views.salary_preferences.nav_title")
        %section.formHelp
          %h4=t("views.salary_preferences.help_title")
          %p=t("views.salary_preferences.help_text")
        %section.formEntry
          = simple_form_for update_profile_component_path(@salary_preference), html: { class: 'js-dirty-check', data: {analytics: "submit-salary"}  } do |f|
            %section.formBlock
              %section.formBlock__section--full
                = f.input :base_salary,
                          wrapper_html: {class: "inputWrapper--third"},
                          label_html: {class: "label--standard"}
                = f.input :hourly_rate, as: :string,
                          wrapper_html: {class: "inputWrapper--third"},
                          label_html: {class: "label--standard"}
                = f.input :daily_travel_comp,
                          wrapper_html: {class: "inputWrapper--third inputWrapper--omega"},
                          label_html: {class: "label--standard"}
                = f.input :other_concerns,
                          label_html: {class: "label--standard"}
            %section.formBlock
              %section.formBlock__section--action
                = f.submit t("views.salary_preferences.submit"), class: "button--update"

        %section.formBlock
          %section.formBlock__section--action
            = render "form_nav"
