/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* ******************************************************************************
 *
 * Webfonts - Load 'em up first
 *
 ****************************************************************************** */

/* --- Set up custom Fonts --- */

/**
 * @license
 * MyFonts Webfont Build ID 2814332, 2014-05-19T13:07:22-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Proxima Nova ExtraBold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/extrabld/
 *
 * Webfont: Proxima Nova Italic by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular-it/
 *
 * Webfont: Proxima Nova SemiBold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/semibold/
 *
 * Webfont: Proxima Nova Regular by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/regular/
 *
 * Webfont: Proxima Nova Bold by Mark Simonson
 * URL: http://www.myfonts.com/fonts/marksimonson/proxima-nova/bold/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2814332
 * Licensed pageviews: 1,000,000
 * Webfonts copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
 *
 * © 2014 MyFonts Inc
*/

// @import url("//hello.myfonts.net/count/2af17c");

@font-face {
  font-family: 'ProximaNova';
  src: font-url('2AF17C_3_0.eot');
  src: font-url('2AF17C_3_0.eot?#iefix') format('embedded-opentype'),
       font-url('2AF17C_3_0.woff') format('woff'),
       font-url('2AF17C_3_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: font-url('2AF17C_1_0.eot');
  src: font-url('2AF17C_1_0.eot?#iefix') format('embedded-opentype'),
       font-url('2AF17C_1_0.woff') format('woff'),
       font-url('2AF17C_1_0.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: font-url('2AF17C_2_0.eot');
  src: font-url('2AF17C_2_0.eot?#iefix') format('embedded-opentype'),
       font-url('2AF17C_2_0.woff') format('woff'),
       font-url('2AF17C_2_0.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: font-url('2AF17C_4_0.eot');
  src: font-url('2AF17C_4_0.eot?#iefix') format('embedded-opentype'),
       font-url('2AF17C_4_0.woff') format('woff'),
       font-url('2AF17C_4_0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: font-url('2AF17C_0_0.eot');
  src: font-url('2AF17C_0_0.eot?#iefix') format('embedded-opentype'),
       font-url('2AF17C_0_0.woff') format('woff'),
       font-url('2AF17C_0_0.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'hhh-icons';
  src:font-url('hhh-icons.eot?4h7drn');
  src:font-url('hhh-icons.eot?#iefix4h7drn') format('embedded-opentype'),
      font-url('hhh-icons.woff?4h7drn') format('woff'),
      font-url('hhh-icons.ttf?4h7drn') format('truetype'),
      font-url('hhh-icons.svg?4h7drn#hhh-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* ******************************************************************************
 *
 * Functions and Variables
 *
 ****************************************************************************** */

@import "foundation/functions";
@import "00helpers/functions-custom";
@import "00helpers/variables-custom";
@import "00helpers/variables-compass";
@import "00helpers/variables-foundation";
@import "00helpers/animations";


// ------------------------------------------------------------------------------
// !-- Breakpoint Concatenation
// The Sprockets Media Query Combiner gem combines media queries at the end of
// the document, but does so based on the order they are written in the document.
// These are small, scrap styles that will ensure the media queries show up in
// the right order when combined.
// ------------------------------------------------------------------------------

.smqc {
  @media #{$bp--small-up} {zoom: 1;}
  @media #{$bp--medium-up} {zoom: 1;}
  @media #{$bp--large-up} {zoom: 1;}
  @media #{$bp--xlarge-up} {zoom: 1;}
  @media #{$bp--xxlarge-only} {zoom: 1;}
  @media #{$bp--xlarge-down} {zoom: 1;}
  @media #{$bp--large-down} {zoom: 1;}
  @media #{$bp--medium-down} {zoom: 1;}
  @media #{$bp--small-only} {zoom: 1;}
}


/* ******************************************************************************
 *
 * Dependency Libraries
 *
 * Compass, Scut, Foundation
 *
 ****************************************************************************** */

@import "compass";
@import "foundation";
@import "scut";
@import "chosen";


/* ******************************************************************************
 *
 * Useful Utilities
 *
 ****************************************************************************** */

@import "00helpers/utilities";


/* ******************************************************************************
 *
 * Mixins
 *
 ****************************************************************************** */

@import "00helpers/mixins-custom";


/* ******************************************************************************
 *
 * Specific Overrides
 *
 ****************************************************************************** */

@import "00helpers/overrides-chosen";


/* ******************************************************************************
 *
 * Extendable Classes
 *
 * Use these files to create extendable classes that are shared throughout the
 * site.
 *
 ****************************************************************************** */

@import "01extends/fonts";
@import "01extends/flexbox";


/* ******************************************************************************
 *
 * Project Base
 *
 * Load up the some general CSS and the project grid.
 *
 ****************************************************************************** */

@import "02base/general";
@import "02base/grid";
@import "02base/layout";


/* ******************************************************************************
 *
 * Atoms
 *
 * Atoms are elements that are built off of html tags. Some atomic elements will
 * be classless and just pick up the default styles applied to those elements.
 * However, variants may exist that will be applied to classes. Atoms will rarely
 * be used alone and work best in combinations to form molecules (for instance,
 * a button doesn't make sense unless it is part of a form and an image doesn't
 * make sense without the context of the information that surrounds it).
 *
 ****************************************************************************** */

@import "03atoms/type";
@import "03atoms/links";
@import "03atoms/icons";
@import "03atoms/dividers";


/* ******************************************************************************
 *
 * Molecules
 *
 * When groups of elements come together to form a reusable interface item, they
 * are form molecule. Whereas an input and a button are both atoms, together,
 * they form a .form molecule.
 *
 ****************************************************************************** */

@import "04molecules/forms";
@import "04molecules/vertical-nav";
@import "04molecules/buttons";
@import "04molecules/progress";
@import "04molecules/modals";
@import "04molecules/alerts";
@import "04molecules/content-sections";
@import "04molecules/slideshow";
@import "04molecules/profile_history";


/* ******************************************************************************
 *
 * Organisms
 *
 * Organisms are a collection of molecules that form sections of a page. For
 * instance, a ClassicNote Body would be made up of a novel header, a section
 * navigation and a text article molecule, each of which can be used in other
 * contexts as well to form other organisms (a section navigation could be used
 * in a lesson plan, a novel header could be used in a Q&A Thread, etc.)
 *
 ****************************************************************************** */

@import "05organisms/faq";
@import "05organisms/steps";
@import "05organisms/footer";
@import "05organisms/header";
@import "05organisms/wizard";


/* ******************************************************************************
 *
 * Templates
 *
 * Styles that refer to specific "Page Templates"
 *
 ****************************************************************************** */

@import "06templates/heroes";
@import "06templates/company-profile";


/* ******************************************************************************
 *
 * Emails
 *
 * We're able to style emails with external stylesheets with the use of
 * the premailer gem (https://github.com/fphilipe/premailer-rails)
 *
 ****************************************************************************** */


/* ******************************************************************************
 *
 * Working File
 *
 * This file is for "junk" code that we may be writing to
 * test an idea, or perhaps need to push out quickly. All
 * styles in this file should be cleaned up on a regular basis.
 *
 ****************************************************************************** */

@import "working";
