// Only applies these styles to HTML emails

// Global

* {
  margin:0;
  padding:0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:none;
  width: 100%!important;
  height: 100%;
}


// Elements

.email-logo {
  width: 220px;
}

a {
  color: #2d77de;
  &.fb {
    background-color: #3B5998!important;
  }
  &.tw {
    background-color: #1daced!important;
  }
  &.gp {
    background-color: #DB4A39!important;
  }
}

.btn {
  text-decoration: none;
  color: #fff;
  background-color: #f05423;
  padding: 10px 16px;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.callout {
  padding: 15px;
  background-color: #eee;
  margin-bottom: 15px;
}
.callout a {
  font-weight: bold;
  color: #2d77de;
}

table {
  .social {
    margin-top: 40px;
    border-top: 1px solid #d4d4d4;
    background: #eee;
    font-size: 14px;
    h5 {
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
}


// Header

table.head-wrap {
  width: 100%;
}

.header.container table td.logo {
  padding: 15px;
}

.header.container table td.label {
  padding: 15px;
  padding-left:0px;
}


// Body

table.body-wrap {
  width: 100%;
  margin: 20px 0;
}

// Typography

h1,h2,h3,h4,h5,h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.1;
  margin-bottom: 15px;
  color: #000;
}

h1 {
  font-weight: 200;
  font-size: 44px;
}

h2 {
  font-weight: 200;
  font-size: 37px;
}

h3 {
  font-weight: 500;
  font-size: 27px;
}

h4 {
  font-weight: 500;
  font-size: 23px;
}

h5 {
  font-weight: 900;
  font-size: 17px;
}

h6 {
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  color: #444;
}

p, ul {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.6;
}

p {
  &.lead {
    font-size: 20px;
  }
  &.last {
    margin-bottom: 0px;
  }
}

ul {
  li {
    margin-left: 5px;
    list-style-position: inside;
  }
}


// Responsiveness

// Set a max-width, and make it display as block so it will automatically stretch to that
// width, but will also shrink down on a phone or something

.container {
  display: block!important;
  max-width: 600px!important;
  margin: 0 auto!important; /* makes it centered */
  clear: both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
  width: 100%;
}


/* Odds and ends */
.column {
  width: 300px;
  float: left;
}
.column tr td {
  padding: 15px;
}

.column-wrap {
  padding: 0!important;
  margin: 0 auto;
  max-width: 600px!important;
}

.column table {
  width: 100%;
}

.social .column {
  width: 280px;
  min-width: 279px;
  float: left;
}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear {
  display: block;
  clear: both;
}


// -------------------------------------------
//   PHONE
//    For clients that support media queries.
//    Nothing fancy.
// --------------------------------------------

@media only screen and (max-width: 600px) {

  a[class="btn"] {
    display: block!important;
    margin-bottom: 10px!important;
    background-image: none!important;
    margin-right: 0!important;
  }

  div[class="column"] {
    width: auto!important;
    float:none!important;
  }

  table.social div[class="column"] {
    width: auto!important;
  }

}
