%section.wizard__action
  = f.submit text("views.get_started.next"), class: "button--wizardNext right js--wizardNext", disabled: true
  = f.submit text("views.get_started.prev"), name: 'submit_prev', class: "button--wizard left"
