.wizard.l--stickyContent
  .wizard__container
    = render "wizard_progress", current: 6
    %h2.text-center.wizard__section--heading= text("heading")
    %hr.wizard__section--hr

    %section.wizard__section.text-center.js--wizard__form
      = simple_form_for @current_step, url: wizard_path, method: 'PUT', html: { novalidate: true } do |f|
        %p= text("experience")
        = f.input :experience, as: :select, collection: ProfessionalProfile.experience.values, label: false, wrapper_html: { class: "inputWrapper--half" }
        %p= text("authorized")
        = f.input :authorization, as: :radio_buttons, label: false, input_html: { class: "boolean--button wizard__reveal" }
        #authorization_details.wizard__hiddenField
          %p= text("details")
          = f.input :authorization_details, label: false
        %p#locations= text("locations")
        = f.input :metro_area_ids, as: :select,
                  label: false, collection: MetroArea.all.map { |a| [a.area_name, a.id] },
                  input_html: { data: { placeholder: text("locations_placeholder") }, multiple: true, class: 'js-chosen' }
        = render "wizard_action", f: f
