.wizard.l--stickyContent
  .wizard__container
    = render "wizard_progress", current: 7

    %h2.text-center.wizard__section--heading= text("heading")
    %hr.wizard__section--hr

    %h2.text-center.wizard__stepHeader= text("sub_heading")

    %section.wizard__section.text-center.js--wizard__form
      - unless current_user.provider
        .formSignup--linkedin
          %section.formSignup__section
            = link_to omniauth_authorize_path(current_user, :linkedin, limit_to: "wizard"), class: "button--linkedin js--buttonWorking" do
              %span.button__icon
              %span.button__text= t('linkedin.connect')

        .divider--wizard
          %span &#151 or &#151

      = simple_form_for @current_step, url: wizard_path, method: 'PUT' do |f|
        %section.wizard__uploadSection
          - if current_user.professional_profile.resume?
            = f.input :resume, input_html:{ data:{analytics: "add-resume"}, class: "button--resume js--wizardResume" }, as: :file, label: "change resume", label_html: { class: "button--resume__labelInactive js--resumeLabelInactive" }
            = f.input :resume_cache, as: :hidden
            .wizard__resumeTitleSection.js--resumeTitleWizard
              %p= link_to current_user.professional_profile.resume_display_name, professional_profile_resume_path(current_user.professional_profile), { class: "js--resumeLinkWizard" }

            %section.wizard__action--resume
              = f.submit text("views.get_started.prev"), name: 'submit_prev', class: "button--wizard left"
              = f.submit text("views.get_started.next"), class: "button--wizardNext right"

          - else
            = f.input :resume, input_html:{ data:{analytics: "add-resume"}, class: "button--resume js--wizardResume"  }, as: :file, label: "upload resume", label_html: { class: "button--resume__label js--resumeLabel" }

            .wizard__resumeTitleSection.js--resumeTitleWizard

            %section.wizard__action--resume
              = f.submit text("views.get_started.prev"), name: 'submit_prev', class: "button--wizard left"
              = f.submit text("views.get_started.next"), class: "button--wizard js--skippable right"
