.wizard.l--stickyContent
  .wizard__container
    %h2.text-center.wizard__section--heading= text("heading")
    %hr.wizard__section--hr

    %section.wizard__sectionSmall.text-center
      %p= text("sub_heading")
      %img{src: asset_path("mail_envelope.png"), class: "wizard__envelopeImage"}

      %p= text("content", industry: text(@current_step.preferred_industry, scope: "enumerize.industry_types"))
      = link_to text("call_to_action"), @current_step.industry_blog_link, class: "button--small"

