.wizard.l--stickyContent
  .wizard__container
    = render "wizard_progress", current: 8
    %h2.text-center.wizard__section--heading= text("heading")
    %hr.contentSection__hr

    %section.wizard__section.text-center.js--wizard__form
      = simple_form_for @current_step, url: wizard_path, method: 'PUT', html: { novalidate: true } do |f|
        %p Password
        = f.input :password, label: false, input_html: { class: "js--wizardPassword" }
        %p Password confirmation
        = f.input :password_confirmation, label: false, input_html: { class: "js--wizardPasswordConfirmation" }
        %section.wizard__action
          = f.submit text("views.get_started.next"), class: "button--wizard right js--skippable"
          = f.submit text("views.get_started.prev"), name: 'submit_prev', class: "button--wizard left"
