.wizard.l--stickyContent
  .wizard__container
    = render "wizard_progress", current: 5
    %h2.text-center.wizard__stepHeader= text("heading")
    %p.text-center.wizard__stepSubHeader= text("sub_heading")

    %section.wizard__section.text-center.js--wizard__form
      = simple_form_for @current_step, url: wizard_path, method: 'PUT', html: { novalidate: true } do |f|
        = f.association :sub_project_types, as: :check_boxes, collection: @current_step.possible_sub_projects, label: false, label_method: :display_name, input_html: { class: "boolean--button" }, wrapper_html: { class: "wizard__formOverflow" }
        .wizard__scrollIndicator &hellip;
        = render "wizard_action", f: f
