.wizard.l--stickyContent
  .wizard__container
    = render "wizard_progress", current: 1
    %h2.text-center.wizard__section--heading= text("heading")
    %hr.wizard__section--hr
    %h2.text-center.wizard__stepHeader= text("sub_heading")

    %section.wizard__section.text-center.js--wizard__form
      = simple_form_for @current_step, url: wizard_path, method: 'PUT', html: { novalidate: true } do |f|
        %p.text-center= text("category")
        = f.association :category, as: :radio_buttons, label: false, label_method: :display_name, input_html: { class: "boolean--button" }
        %section.wizard__action
          = f.submit text("views.get_started.next"), class: "button--wizardNext js--wizardNext", disabled: true

