%p.lead
  Welcome, #{@email}!
%p
  Thanks for creating an account at <strong>Hard Hat Hub</strong>. Confirm your email address by clicking the link below.
%p
  = link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'btn'
