- email_params = MailerHelper::email_tracking_params("set-password", reset_password_token: @token)

-if @resource.hubspot_created?
  - email_params[:hubspot_created] = true
  %p.lead
    Hello, #{@resource.first_name}!
  %p Welcome to Hard Hat Hub!  Please click the link below to set your password and login to your account.
  %p Once you’ve created a password, you’ll have the ability to tell us a little more about yourself, which will help us customize career content for you, and match you to available job opportunities.
  %p
    = link_to 'Set my password', edit_password_url(@resource, email_params), class: 'btn'
-else
  - email_params[:utm_campaign] = "reset-password"
  %p.lead
    Hello, #{@resource.first_name}!
  %p Someone has requested a link to change your password. You can do this through the link below.
  %p
    = link_to 'Change my password', edit_password_url(@resource, email_params), class: 'btn'
  %p If you didn't request this, please ignore this email.
