- email_params = MailerHelper::email_tracking_params("set-password", reset_password_token: @token)

-if @resource.hubspot_created?
  - email_params[:hubspot_created] = true

  Hello #{@resource.first_name}!

  Welcome to Hard Hat Hub!  Please click the link below to set your password and login to your account.

  Once you’ve created a password, you’ll have the ability to tell us a little more about yourself, which will help us customize career content for you, and match you to available job opportunities.

  #{edit_password_url(@resource, email_params)}
-else
  - email_params[:utm_campaign] = "reset-password"

  Hello #{@resource.first_name}!

  Someone has requested a link to change your password. You can do this through the link below.

  #{edit_password_url(@resource, email_params)}

  If you didn't request this, please ignore this email.
  Your password won't change until you access the link above and create a new one.
