Hello #{@resource.email}!

Your account has been locked due to an excessive number of unsuccessful sign in attempts.

Click the link below to unlock your account:

- email_params = MailerHelper::email_tracking_params("unlock", unlock_token: @token)
#{unlock_url(@resource, email_params }
