%p.lead
  Hello, #{@resource.email}!
%p Your account has been locked due to an excessive number of unsuccessful sign in attempts.
%p
  - email_params = MailerHelper::email_tracking_params("unlock", unlock_token: @token)
  = link_to 'Unlock my account', unlock_url(@resource, email_params), class: 'btn'
