- if show_profile_complete_modal? @professional_profile
  #completed-modal.reveal-modal.small{ data: { reveal: '' } }
    %a.close-reveal-modal &#215;
    %h2= t "views.shared.profile_complete.heading"
    %p= t "views.shared.profile_complete.message_html", blog_url: link_to('http://blog.hardhathub.com/blog', 'http://blog.hardhathub.com/blog')

%section.container
  %section.containerHead
    %h1.head__name
      = profile_piece.user.full_name
    .progressContainer
      %h4= t 'views.shared.pro_header.heading'
      .progress
        %span{style: progress_width(@professional_profile)}

%section.container
  .alert-box{ data: {alert: true}, class: "alert--message" }
    = t 'views.shared.pro_header.message'
    %a.close{ href: "#" } &times;
