// DESIGN: Organize better and add TOC

// Adds to the global Foundation button element

.button {
  line-height: 1;
  @include radius(0);
  &:hover {
    background: scale-color($button--bg, $lightness: -15%);
  }
}

.button--update {
  @extend .button;
  background: $button--bg;
  color: $white;
  text-transform: uppercase;
  font-weight: $fontWeight--extraBold !important; // Override Foundation button styling
  @media #{$bp--small-only} {
    @include font-size(14);
  }
}

.button--add {
  @extend .button;
  display: inline-block;
  margin-bottom: 0;
  padding: .65em 1em;
  border-radius: $borderRadius--rounded;
  background-color: $dk-gray;
  color: $white;
  font-weight: $fontWeight--semiBold !important; // Override Foundation button styling
  &:hover {
    background: scale-color($dk-gray, $lightness: -10%);
  }
}

.button--large {
  @extend .button;
  @include font-size(24);
  margin: $gutter 0;
  padding: 1em 2.25em;
  min-width: 320px;
  background: $button--bg;
  text-transform: uppercase;
  font-weight: $fontWeight--extraBold !important; // Override Foundation button styling
  @media #{$bp--small-only} {
    padding: 1em;
    min-width: 0;
  }
}

.button--small {
  @extend .button;
  background: $button--bg;
  padding: 1em 1.5em;
  text-transform: uppercase;
  font-weight: $fontWeight--extraBold !important; // Override Foundation button styling
}

.button--tiny {
  @extend .button--small;
  @include font-size(11);
}

.button--destroy {
  @extend .button;
  padding: .15em;
  background-color: transparent;
  color: $linkColor--delete;
  &:hover {
    background-color: transparent;
    color: $linkColor--delete;
    text-decoration: underline;
  }
}


// Linkedin Buttons

.button--linkedin {
  display: inline-block;
  padding: .6em .8em;
  background: $linkedin--bg;
  font-size: 2em;
  font-weight: $fontWeight--extraBold;
  &:hover {
    background: $linkedin--hover;
  }
  @media #{$bp--small-only} {
    font-size: 1.3em;
  }
}

.button--linkedinSmall {
  @extend .button--linkedin;
  padding: .5em .8em;
  font-size: 1.3em;
}

.button__icon {
  display: inline-block;
  margin-bottom: 5px; // Magic number to help visually vertically center
  margin-left: 4px;
  vertical-align: middle;
  background: image-url('linkedin-logo.png') no-repeat;
  height: $buttonIconSize--large;
  width: $buttonIconSize--large;
  .button--linkedinSmall & {
    background: image-url('linkedin-logo_small.png') no-repeat;
    height: $buttonIconSize--small;
    width: $buttonIconSize--small;
    vertical-align: middle;
  }
}

.button__text {
  display: inline-block;
  margin-left: .5em;
  padding: .6em .5em .6em 1em;
  border-left: 2px solid $linkedin--border;
  font-size: 1.1em;
  color: $linkedin--color;
  text-transform: uppercase;
  font-weight: $fontWeight--bold;
  .button--linkedinSmall & {
    padding: .3em .6em;
    font-size: 1em;
  }
}

// Wizard
.button--wizard {
  @extend .button;
  background: $hhh-medGray;
  width: $wizard--buttonWidth;
  text-transform: uppercase;
  font-weight: $fontWeight--extraBold !important; // Override Foundation button styling

  &:disabled {
    background: $hhh-medGray;
    opacity: 1;

    &:hover {
      background: $hhh-medGray;
    }
  }

  @media #{$bp--small-only} {
    width: $wizard--buttonWidthMobile;
  }
}

.button--wizardNext {
  @extend .button--wizard;
  background: $button--bg;
}

.button--resume {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  margin: 0 !important; //overwrite foundation
}

.button--resume__label {
  @extend .button;
  @include font-size(24);
  margin: $gutter 0;
  padding: 1em 2.25em;
  border-radius: none;
  min-width: 320px;
  background: $button--bg;
  text-transform: uppercase;
  font-weight: $fontWeight--extraBold !important; // Override Foundation button styling
  @media #{$bp--small-only} {
    padding: 1em;
    min-width: 0;
  }
}

.button--resume__labelInactive {
  @extend .button--resume__label;
  background: $hhh-medGray;
}


