// ------------------------------------------------------------------------------
// Table of Contents
//
// 1.
// 2.
// 3.
//
// ------------------------------------------------------------------------------

.contentSection {
  padding: 50px 0 45px;
  border-top: 1px solid $border--color--contentSection;
  background: $contentSection--bg;
}

.contentSection--alt {
  @extend .contentSection;
  background: $contentSection--alt--bg;
}

.contentSection__content {
  @extend .grid--row;
  max-width: 700px;
  text-align: center;
}

.contentSection__heading {
  @include font-size(28);
  margin-bottom: .55em;
  color: $sectionHeading--color;
  text-transform: uppercase;
  font-weight: $fontWeight--extraBold;
}

.contentSection__hr {
  margin: 0 auto;
  max-width: 200px;
  border-color: $hrAlt--color;
}

.contentSection__lead {
  @include font-size(22);
  margin-top: 1em;
  color: $sectionLead--color;
  line-height: 1.2;

  @media #{$bp--small-only} {
    @include font-size(18);
  }
}

.contentSection__container {
  p {
    @include font-size(18);
    line-height: 1.3;
  }
}

.contentSection__detail {
  @include font-size(18);
  line-height: 1.3;
}

.contentSection__detail--split {
  @extend .contentSection__detail;
  text-align: justify;
  .supports-csscolumns & {
    column-count: 2;
    column-gap: $gutter;
    @media #{$bp--medium-down} {
      padding: 0 $gutter/2;
      column-count: 1;
    }
  }
}


// Content Filters

.contentSection__filters {
  @extend .grid--row;
  margin-top: $gutter;
  padding: $gutter $gutter*2;
  @media #{$bp--medium-down} {
    padding: $gutter;
  }
  @media #{$bp--small-only} {
    padding: 0;
  }
}

.filters__list {
  @extend .grid--1-1;
  margin-bottom: 15px;
  list-style: none;
  text-align: center;
}

.filters__item {
  @include font-size(17);
  display: inline-block;
  padding: 0 $gutter;
  border-right: $border--width solid $filter--border-color;
  line-height: 1;
  &:last-child {
    border-right: none;
  }
}

.filters__link {
  @include link-colors($sectionFilters--link, $sectionFilters--hover, $sectionFilters--active, $sectionFilters--visited, $sectionFilters--focus);
  font-weight: $fontWeight--semiBold;
  &.is--active {
    color: $sectionFilters--active;
  }
}

.companies {
  @extend .grid--1-1;
  padding: $gutter $gutter 0;
  text-align: center;
  border-top: $border--width solid $filter--border-color;
}

.companyLogo {
  display: inline-block;
  transition: 0.2s all ease-in-out;
  img {
    height: 100px;
  }
  transition: $transitionTime all $transitionType;
  &.is--filtered {
    opacity: .25;
  }
}


// Lists

.contentSection__list {
  @extend .grid--row;
  margin-top: $gutter;
  padding: $gutter $gutter*2;
  @media #{$bp--small-only} {
    padding: $gutter 0;
  }
}


// Image lists
.contentSection__imageList {
  @extend .contentSection__list;
}

.imageList__item {
  @extend .grid--1-4;
  margin-bottom: $gutter*3;
  text-align: center;
  &:nth-child(4n+1) {
    clear: left;
  }
  @media #{$bp--large-down} {
    @include grid-column(4);
    &:nth-child(4n+1) {
      clear: none;
    }
    &:nth-child(3n+1) {
      clear: left;
    }
    &:nth-of-type(7) {
      @include grid-column($columns:4, $offset:2);
    }
  }
  @media #{$bp--small-only} {
    @include grid-column(6);
    &:nth-child(3n+1) {
      clear: none;
    }
    &:nth-child(2n+1) {
      clear: left;
    }
    &:nth-of-type(7) {
      @include grid-column($columns:6, $offset:0);
    }
  }
  @media #{$bp--small-only} {
    margin-bottom: $gutter*2;
  }
}

.item__image {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 25px;
  width: $itemImage--large;
  height: $itemImage--large;
  border: $imageList__image--border-width solid $imageList__image--border-color;
  border-radius: $borderRadius--circle;
  box-shadow: 0 0 0 $imageList__image--border-width $imageList__image--border-color--alt;
  img {
    display: block;
  }
  &:hover {
    opacity: .85;
  }
  &:active {
    border-color: $imageList__image--active;
  }
  @media #{$bp--large-only} {
    width: $itemImage--xlarge;
    height: $itemImage--xlarge;
  }
  @media #{$bp--medium-only} {
    width: $itemImage--medium;
    height: $itemImage--medium;
  }
  @media #{$bp--small-only} {
    width: $itemImage--small;
    height: $itemImage--small;
    .cssvwunit & {
      width: $itemImage--small--vw;
      height: $itemImage--small--vw;
    }
  }
}

.item__title {
  @include font-size(22);
  @include link-colors($imageListTitle--link, $imageListTitle--hover, $imageListTitle--active, $imageListTitle--visited, $imageListTitle--focus);
  display: block;
  padding: 0 $gutter;
  font-weight: $fontWeight--semiBold;
  line-height: 1.1;
  @media #{$bp--small-only} {
    @include font-size(18);
  }
}

.item__detail {
  @include font-size(15);
  display: inline-block;
  padding: 0 $gutter*2;
  font-style: italic;
  line-height: 1.2;
}


// Larger image list
.imageList__item--large {
  @extend .grid--1-3;
  text-align: center;
  @media #{$bp--medium-down} {
    @include grid-column(6);
    margin-bottom: $gutter*2;
    &:nth-of-type(3) {
      @include grid-column($columns:6, $offset:3);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media #{$bp--small-only} {
    @include grid-column(12);
    &:nth-of-type(3) {
      @include grid-column($columns:12, $offset:0);
    }
  }
}


// Profile lists
.contentSection__profileList {
  @extend .contentSection__list;
  @media #{$bp--small-only} {
    padding: $gutter/2;
  }
}

.profileList__item {
  @extend .grid--1-3;
  margin-bottom: $gutter*3;
  @media #{$bp--large-down} {
    @include grid-column(6);
    margin-bottom: $gutter*2;
  }
  @media #{$bp--small-only} {
    @include grid-column(12);
  }
}

.item__imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: $itemProfileImage--size;
}

.item__profileButton {
  margin-top: $gutter/2;
  width: $itemProfileImage--size;
}

.item__detailContainer {
  display: inline-block;
  padding: $gutter/2 $gutter/2 0 $gutter*4;
  color: $hhh-lightText;
}

.item__profileDetail {
  @include font-size(15);
  margin: 4px 0 0;
}

.item__profileName {
  @include font-size(20);
  margin: 0;
  color: $item__profileName--color;
  font-weight: $fontWeight--semiBold;
  line-height: .9;
}

.item__profileTitle {
  @include font-size(14);
  display: block;
  font-style: italic;
  line-height: 1;
}

.tagList {
  margin: 6px 0 0;
  list-style: none;
  text-align: left;
}

.tagList__item {
  @include font-size(11);
  display: inline-block;
  margin-bottom: 4px;
  padding: .23em .45em .125em;
  border-radius: $borderRadius;
  background: $tag--bg;
  color: $tag--color;
  text-transform: uppercase;
  font-weight: $fontWeight--semiBold;
}

.item__more, .item__less {
  @include font-size(11);
  color: $tag--bg;
  text-transform: uppercase;
}

// Action sections

.contentSection__action {
  @extend .grid--row;
  margin: $gutter auto;
  text-align: center;
}

.action__message {
  @include font-size(25);
  margin: 0;
  color: $actionMessage--color;
  font-weight: $fontWeight--semiBold;
  line-height: 1.3;
  strong {
    display: block;
    font-weight: $fontWeight--bold;
  }
}

.action__button {
  margin: 30px $gutter/2 35px;
}

.action__message--secondary {
  @include font-size(18);
  margin: 0 auto;
  max-width: 550px;
  font-style: italic;
  line-height: 1.4;
}
