// ------------------------------------------------------------------------------
// Table of Contents
//
// 1. Overrides
// 2. Form Layout
// 3. Signin Forms
// 4. Inputs and Labels
// 5. Form Help
//
// ------------------------------------------------------------------------------


// --------------------------------------------
// !-- Overrides
// --------------------------------------------

// Foundation Form Overrides
textarea {
  min-height: 120px;
}

.textarea--small {
  min-height: 60px;
}

// Chosen overrides
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 25px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  padding: rem-calc(7px) rem-calc(28px) rem-calc(7px) rem-calc(10px);
  border-radius: 15px;
  background: $wizard--checkedOption;
  background-image: none;
  box-shadow: none;
  border: none;
  color: $white;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background-image: none;
  font-size: 1.25em;
  top: 8px;
  right: 10px;
  &:before {
    content: "\00D7";
  }
  &:hover {
    opacity: .5;
  }
}

.chosen-drop {
  text-align: left;
}

// --------------------------------------------
// !-- Form Layout
// --------------------------------------------

.professionalProfile {
  padding-bottom: $gutter*4;
  background-color: $bg--profile;
}

.mainContent--form {
  @extend .grid--3-4;
  margin-top: $gutter/2;
  padding: 0 0 $gutter/2;
  border: $border--width solid $border--color;
  border-radius: $borderRadius;
  background: $white;
  @media #{$bp--medium-down} {
    @include grid-column(12);
  }
  @media #{$bp--small-only} {
    margin-top: 0;
    border-top: none;
  }
}

.mainContent--form--account {
  @extend .mainContent--form;
  padding-bottom: 0;
}

.formPanel {
  @extend .content;
}

.formHeader,
.formFooter {
  @extend .grid--row;
}

.formHeader {;
  @include clearfix;
  padding: rem-calc(10) $gutter;
}

.formSubhead {
  padding: 0;
  margin-bottom: rem-calc(10);
}

.formHeader__title {
  display: inline-block;
  @media #{$bp--small-only} {
    display: block;
    text-align: center;
  }
}

.formHeader__action {
  display: inline-block;
  float: right;
  @media #{$bp--small-only} {
    display: block;
    float: none;
    text-align: center;
  }
}

.formFooter {
  margin: rem-calc(30) 0;
}

.formHead__section {
  @extend .grid--row;
}

.formBlock {
  @extend .grid--row;
  padding: rem-calc(10px);
}

.formBlock__save {
  @extend .formBlock;
  margin-top: -20px;
}

%formBlock__section {
  margin-bottom: $gutter/2;
  @media #{$bp--medium-down} {
    @include grid-column(12);
  }
}

.formBlock__section--full {
  @extend %formBlock__section;
  @extend .grid--1-1;
}

.formBlock__section--half {
  @extend %formBlock__section;
  @extend .grid--1-2;
}

.formBlock__section--third {
  @extend %formBlock__section;
  @extend .grid--1-3;
}

.formBlock__section--quarter {
  @extend %formBlock__section;
  @extend .grid--1-4;
}

.formBlock__section--action {
  @extend .grid--1-1;

}

.formWrapper {
  @extend .grid--1-1;
  padding: 0;
}

.formBlock--add {
  @extend .formBlock;
  margin-top: rem-calc(10px);
}

.formEntry {
  padding: rem-calc(10px) 0;
  background-color: $formEntry--bg;
  border-bottom: $formEntry--borderWidth dashed $formEntry--border;
  .button {
    margin-bottom: 0;
  }
}

.formEntry--danger {
  border-bottom: none;
}

// Displays on smaller screens to aid in form navigation
.formNav--small {
  @extend .grid--1-1;
  padding: 0 $gutter/2 $gutter/2;
  margin-bottom: $gutter/2;
  border-bottom: $formEntry--borderWidth dashed $formEntry--border;
  @media #{$bp--medium-up} {
    display: none;
  }
}


// --------------------------------------------
// !-- Signin Forms
// --------------------------------------------

// Used for sign in, log in, new password, etc. fields

.formSignup {
  padding-top: $gutter*2;
  text-align: left;
}

.formSignup--linkedin {
  padding: $gutter*2 0;
}

.formSignup__section {
  @include clearfix;
  padding-top: $gutter;
  border-top: $formSection--borderWidth dashed $formSection--color;
  &:first-of-type {
    padding-top: 0;
    border-top: none;
  }
}

.formSignup__section--upload {
  @extend .formSignup__section;
  @media #{$bp--small-only} {
    display: none;
  }
}

.formSignup__action {
  text-align: center;
}

.formSignup--narrow {
  padding: $gutter*2 $gutter*4;
  @media #{$bp--small-only} {
    padding: $gutter $gutter/2;
  }
}

%formSignup__input {
  @media #{$bp--medium-down} {
    @include grid-column(12);
  }
  label {
    @include font-size(14);
    text-align: left;
  }
}

.formSignup__input--full {
  @extend %formSignup__input;
  @extend .grid--1-1;
  padding: 0 $gutter/2
}

.formSignup__input--half {
  @extend %formSignup__input;
  @extend .grid--1-2;
  padding: 0 $gutter/2;
}

.formSignup__input--sixth {
  @extend %formSignup__input;
  @extend .grid--1-6;
  padding: 0 $gutter/2;
}

.formSignup__input--third {
  @extend %formSignup__input;
  @extend .grid--1-3;
  padding: 0 $gutter/2;
}

// --------------------------------------------
// !-- Inputs and Labels
// --------------------------------------------

.label--standard {
  font-weight: $fontWeight--semiBold;
  @include font-size(16);
}

.labelWrapper {
  .label--selectAll {
    display: inline-block;
    padding: rem-calc(5) rem-calc(10);
    background: $labelColor--button;
    margin: 0 0 $gutter/2 0;
    @include font-size(12);
    border-radius: $borderRadius;
    &:hover {
      background-color: darken($labelColor--button, 7%);
    }
  }
}

.input--selectAll[type="checkbox"] {
  display: none;
}

.input--withHint {
  margin-bottom: 3px !important; // Overwritting some specific Foundation styling
}

%inputWrapper {
  display: inline-block;
  @media #{$bp--medium-down} {
    @include grid-column(12);
  }
}

.inputWrapper--omega {
  margin-right: 0 !important; // always needs to be applied when called
}

.inputWrapper--half {
  @extend %inputWrapper;
  width: 49%;
  margin-right: 1.5%;
}

.inputWrapper--third {
  @extend %inputWrapper;
  width: 32%;
  margin-right: 1.5%;
}

.inputWrapper--quarter {
  @extend %inputWrapper;
  width: 23%;
  margin-right: 1.5%;
}

.inputWrapper--fifth {
  @extend %inputWrapper;
  width: 18%;
  margin-right: 1.5%;
}

.inputWrapper--inner {
  @extend %inputWrapper;
  width: 47%;
  margin-right: 1.5%;
}

.inputWrapper--block {
  .radio {
    display: block;
  }
}

.inputWrapper--withHint {
  margin-bottom: $gutter;
}

label {
  @media #{$bp--small-only} {
    width: 85%;
    line-height: 1.3;
  }
}

.boolean,
.radio_buttons {
  @media #{$bp--small-only} {
    margin-bottom: $gutter/4;
    vertical-align: top;
  }
}

.boolean--button {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  &:checked[type="radio"] ~ label,
  &:checked[type="checkbox"] ~ label {   /* Toggled State */
    background: $wizard--checkedOption;
    color: $white;

    &:hover {
      background: $wizard--checkedOptionHover;
    }
  }
}

.boolean--wrapper {
  display: inline-block;

  @media #{$bp--medium-down} {
    display: block;
  }
}

// --------------------------------------------
// !-- Form Links
// --------------------------------------------

.form__link {
  display: inline-block;
  margin: .15em 0;
  color: $formLink--color;
  @include font-size(14);
  &:hover {
    text-decoration: underline;
  }
}


// --------------------------------------------
// !-- Form Help
// --------------------------------------------

// Form help
.formHelp {
  margin-bottom: 0;
  padding-bottom: rem-calc(20px);
  background-color: $formEntry--bg;
  border-bottom: $formEntry--borderWidth dotted $formEntry--border;
  p {
    padding: 0 rem-calc(20px);
    margin-bottom: 0;
  }
  h4 {
    margin: 0;
    padding: rem-calc(20px);
    padding-bottom: 0;
  }
}
