// ------------------------------------------------------------------------------
// Table of Contents
//
// 1. Container
// 2. Sections
//
// ------------------------------------------------------------------------------


// --------------------------------------------
// !-- Container
// --------------------------------------------

.historyEntry {
  padding: $gutter $gutter $gutter*2;
  font-size: 1.5em;
  &:hover {
    background: $profile--hover;
  }
}

.historyEntry--withSummary {
  @extend .historyEntry;
  padding: $gutter $gutter 5px;
}


// --------------------------------------------
// !-- Sections
// --------------------------------

.historyEntry__section {
  @extend .grid--1-4;
}

.historyEntry__jobSummary {
  @extend .grid--9-12;
  float: none;
  line-height: 1.5;
  color: $hhh-gray;
  margin-top: 10px;

  @media #{$bp--medium-down} {
    @include grid-column(12);
    float: none;
  }
}
