// Progress indicators
.progressContainer {
  @extend .grid--1-4;
  float: right;
  @media #{$bp--medium-down} {
    @include grid-column(12);
    padding: 0;
  }
  h4 {
    margin-bottom: .25em;
    @include font-size(16);
    @media #{$bp--medium-down} {
      margin-top: 0;
    }
    @media #{$bp--small-only} {
      @include font-size(13);
    }
  }
}

.progress {
  @include progress-container;
  @include radius(0);
  & > span {
    @include progress-meter($tabProgress--complete);
    @include radius(0);
  }
  @media #{$bp--small-only} {
    .progressContainer & {
      height: 1.5em;
    }
  }
}

.progress--tab {
  @extend .progress;
  @include radius(0);
  height: .25em;
  margin-bottom: 0;
  padding: 0;
  border: none;
  background-color: $tabProgress--bg;
  & > span {
    @include radius(0);
  }
}
