.sideNav--profile {
  @extend .grid--1-4;
  @include font-size(14);
  width: 23%;
  margin: 0 2% 0 0;
  padding: 0;
  font-weight: $fontWeight--semiBold;
  @media #{$bp--medium-down} {
    display: none;
  }
}

.sideNav__section {
  background-color: $sideNav__section--bg;
  margin-bottom: rem-calc(10px);
  li {
    margin: 0;
    border-left: $border--width solid $border--color;
    border-right: $border--width solid $border--color;
    &:nth-child(2) {
      border-top: $border--width solid $border--color;
    }
    &:last-child {
      padding-bottom: rem-calc(10px);
      border-bottom: $border--width solid $border--color;
    }
    &:hover {
      background-color: $off-white;
      .progress--tab {
        background-color: $tabProgress--bg;
      }
    }
    &.active {
      background-color: lighten($xlt-gray, 5%);
      border-top: $border--width solid $xlt-gray;
      border-bottom: $border--width solid $xlt-gray;
      .link--tab {
        color: $black;
      }
      .progress--tab {
        background-color: $tabProgress--bg;
      }
    }
  }
}

// sideNav section header
.sideNav__head {
  padding: .5em;
  font-weight: bold;
  background: $bg--profile;
  border: none !important; // Kill the list item border for item header
  color: $sideNav__head--color;
  text-transform: uppercase;
  font-weight: $fontWeight--bold;
  @include font-size(14);
  margin: rem-calc(10) 0;
  &:hover {
    background-color: $body-bg;
  }
}

.tab__content {
  display: inline-block;
  @include font-size(16);
  font-weight: $fontWeight--semiBold;
}

