// ------------------------------------------------------------------------------
// Table of Contents
//
//  - General
//  - Direction
//  - Wrap
//  - Justify Content
//  - Align Items
//  - Align Content
//  - Flex Sizing
//
// ------------------------------------------------------------------------------

// --------------------------------------------
// !-- General
// --------------------------------------------

%flex--display {
  display: flex;
}


// --------------------------------------------
// !-- Direction
// --------------------------------------------

%flex--direction__column {
  flex-direction: column;
}

%flex--direction__row {
  flex-direction: row;
}


// --------------------------------------------
// !-- Wrap
// --------------------------------------------

%flex--wrap__nowrap {
  flex-wrap: nowrap;
}

%flex--wrap__wrap {
  flex-wrap: wrap;
}


// --------------------------------------------
// !-- Justify Content
// --------------------------------------------

%flex--justifyContent__spaceBetween {
  justify-content: space-between;
}

%flex--justifyContent__center {
  justify-content: center;
}


// --------------------------------------------
// !-- Align Items
// --------------------------------------------

%flex--alignItems__center {
  align-items: center;
}

%flex--alignItems__stretch {
  align-items: stretch;
}


// --------------------------------------------
// !-- Align Content
// --------------------------------------------

%flex--alignContent__stretch {
  align-content: stretch;
}


// --------------------------------------------
// !-- Flex Sizing
// --------------------------------------------

%flex--1 {
  flex: 1;
}
