/* ******************************************************************************
 *
 * Table of Contents
 *
 * 1. Variables
 * 2. Font Families
 * 3. Font Sizes
 * 4. Font Weights
 *
 ****************************************************************************** */

/* ------------------------------------ */
/* !-- Variables                        */
/* ------------------------------------ */

$font-sizes: 14 24 32;
$font-weights: 700 500 400 300;
$font-styles: italic normal;

/* ------------------------------------ */
/* !-- Font Families                    */
/* ------------------------------------ */


/* ------------------------------------ */
/* !-- Font Sizes                       */
/* ------------------------------------ */

@each $size in $font-sizes {
  %size--#{$size} {
    @include font-size($size);
  }
}


/* ------------------------------------ */
/* !-- Font Styles                      */
/* ------------------------------------ */

@each $weight in $font-weights {
  %weight--#{$weight} {
    font-weight: $weight;
  }
}

@each $style in $font-styles {
  %style--#{$style} {
    font-style: $style;
  }
}

%underline--no {
  text-decoration: none;
}
