- email_params = MailerHelper::email_tracking_params("welcome")

%h2
  We want to know more about you.

%p Thanks for joining our community.  We started Hard Hat Hub because we think our industry needs a better way of connecting talented job-seekers and great companies.  We’re growing rapidly, bringing on new employers each week.  And every day more people just like you are joining to be matched with good jobs.

%p= link_to "Sign in to your profile now", root_url(email_params), class: "btn"

%p Here are a few things to help you get the most out of your experience with Hard Hat Hub:

%h5 First, here’s how it works.
%p You’ve already taken the first step; you’ve created a professional profile.  Now, we’ll get to work, looking to match your profile with open jobs from leading employers.  Unlike other job sites, you won’t see a constant stream of jobs that don’t fit what you want. When we find a match based on your profile, we’ll email you to let you know.  If you like the opportunity, we’ll connect you with the employer. If you’re not interested, no problem. We’ll keep working to find you something.

%h5 Now, build a strong profile.
%p Our web platform works by matching the information in your profile with the information in a company’s job requisition. At a minimum, we need to know your work history and your 10-15 most relevant skills and certifications.

%h5 And keep your profile updated.
%p As your life situation, job needs, and skills evolve, keep your profile updated.  As our platform grows, we’ll always be adding new employers and new jobs. Don’t miss an opportunity; keep your profile fresh.

%h5 Need help?
%p
  Just call or email us. In fact, Kyle, our career guru, can help answer your questions. Just call him at
  = link_to "312-857-5062.", "tel:3128575062"
  Or drop us a line at
  = mail_to "community@hardhathub.com"

%p
  Now, get back to tuning up that profile.
  = link_to "Click here to sign in.", root_url(email_params)
  And be sure to stay connected to our
  = link_to "Blog", "http://blog.hardhathub.com?#{MailerHelper::email_tracking_param_string(email_params)}"
  for regular updates and stories about our industry.

%p Back to work!
