=link_to t('back.professional_status'), edit_professional_profile_path(@professional_profile), class: "link--formNav left"
=link_to t('next.schedule_preferences'), edit_profile_component_path(@professional_profile.schedule_preference), class: "link--formNav right"
