.professionalProfile
  = render partial: '/professional_header', locals: { profile_piece: @travel_preference }

  %section.container
    = render "layouts/profile_sidebar"
    %section.mainContent--form
      %section.formWrapper
        %section.formNav--small
          = render "form_nav"
        %header.formHeader
          %h3=t("views.travel_preferences.nav_title")
        %section.formHelp
          %h4=t("views.travel_preferences.help_title")
          %p=t("views.travel_preferences.help_text")
        %section.formEntry
          = simple_form_for update_profile_component_path(@travel_preference), html: { class: 'formy js-dirty-check', data: {analytics: "submit-travel"} } do |f|
            %section.formBlock
              %section.formBlock__section--full
                = f.input :will_relocate, as: :radio_buttons,
                          wrapper_html: {class: "inputWrapper--block"},
                          label_html: {class: "label--standard"}
              %section.formBlock__section--full
                = f.input :will_travel, as: :radio_buttons,
                          wrapper_html: {class: "inputWrapper--block"},
                          label_html: {class: "label--standard"}
              %section.formBlock__section--full
                = f.input :home_frequency, as: :radio_buttons,
                          wrapper_html: {class: "inputWrapper--block"},
                          label_html: {class: "label--standard"}
              %section.formBlock__section--full
                %label.label--standard= t("views.travel_preferences.which_regions")
                %input{type:"checkbox", class:"input--selectAll js-select-all", id: "select-all-regions"}
                .labelWrapper
                  %label.label--selectAll{for: "select-all-regions"}=t("views.shared.select_all")
                = f.input :region1
                = f.input :region2
                = f.input :region3
                = f.input :region4
                = f.input :region5
                = f.input :region6
                = f.input :region7
                = f.input :region8
                = f.input :region9
                = f.input :region10
              %section.formBlock__section--full
                = f.input :other_concerns,
                          label_html: {class: "label--standard"}
            %section.formBlock
              %section.formBlock__section--action
                = f.submit t("views.travel_preferences.submit"), class: "button--update"
        %section.formBlock
          %section.formBlock__section--action
            = render "form_nav"
