%footer
  .footerContainer
    %section.footerContact{itemscope: "", itemtype: "http://schema.org/Organization"}
      &copy;
      = Time.now.year
      %span{itemprop: "name"} Hard Hat Hub, LLC
      %div{itemprop: "address", itemscope: "", itemtype: "http://schema.org/PostalAddress"}
        %span{itemprop: "streetAddress"} 1130 West Monroe
        %span{itemprop: "addressLocality"} Chicago, IL
        %span{itemprop: "postalCode"} 60607
      %span{itemprop: "telephone"} 312-857-5062
      &nbsp;•&nbsp;
      %span{itemprop: "email"}= link_to Settings.email.info, "mailto:#{Settings.email.info}"
      %br
      = link_to "Terms and Conditions", "/pages/terms-conditions"

    - if display_links
      %section.footerLinks
        %a.footerLinks__nav{href: "/blog"}= t 'navigation.blog'
        %a.footerLinks__nav{href: "/pages/professionals"}= t 'navigation.professionals'
        = link_to t('navigation.companies'), company_profiles_path, class: 'footerLinks__nav'
        %a.footerLinks__nav{href: "/pages/about"}= t 'navigation.about'
        - if user_signed_in?
          - if current_user.is_admin?
            = link_to t('navigation.admin'), admin_root_path, class: 'footerLinks__nav'
          - else
            = link_to t('navigation.profile'), edit_professional_profile_path(current_user.professional_profile), class: 'footerLinks__nav'
          = link_to t('navigation.logout'), destroy_user_session_path, class: 'footerLinks__nav', method: :delete, data: {analytics: 'sign-out'}
        - else
          = link_to t('navigation.login'), new_user_session_path, class: 'footerLinks__nav'
        = link_to "https://www.facebook.com/HardHatHub", class: "footerLinks__nav--social" do
          %span.icon-facebook{"aria-hidden" => "true", "data-icon" => "\e600", "data-analytics" => "click-facebook"}
        = link_to "https://twitter.com/hardhathub", class: "footerLinks__nav--social" do
          %span.icon-twitter{"aria-hidden" => "true", "data-icon" => "\e600", "data-analytics" => "click-twitter"}


