%head
  %meta{charset: 'utf-8'}
  %title= page_title

  = csrf_meta_tags

  -# ---------------------------------------------------------------------------
  -# Stylesheets
  -# ---------------------------------------------------------------------------

  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true

  -# ---------------------------------------------------------------------------
  -# Javascripts
  -# ---------------------------------------------------------------------------

  = javascript_include_tag "application", "data-turbolinks-track" => true

  /[if (lte IE 9)]
  = javascript_include_tag "application-ltie10"

  /[if (lt IE 9)]
  = javascript_include_tag "application-ltie9"

  = render "vendor/google_analytics"

  -# ---------------------------------------------------------------------------
  -# These are Browser and Mobile Meta Tags
  -# ---------------------------------------------------------------------------

  %meta{:'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
  %meta{:'http-equiv' => 'cleartype', :content => 'on'}
  %meta{name: 'HandheldFriendly', content: 'True'}
  %meta{name: 'MobileOptimized', content: '320'}
  %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

  -# ---------------------------------------------------------------------------
  -# Favicons
  -# ---------------------------------------------------------------------------

  -# IE 6-10 use favicon.ico from public. Other browsers use this 96x96px
  %link{rel: 'icon', type: 'image/png', href: image_url('fav/favicon-96.png')}

  -# iOS Favicons - This is only a handful of the sizes supported through the iOS ecosystem. Other sizes will backfill with the closest size in this list.
  %link{rel: 'apple-touch-icon-precomposed', type: 'image/png', href: image_url('fav/apple-touch-icon-precomposed.png')}
  %link{rel: 'apple-touch-icon-precomposed', sizes: '72x72', type: 'image/png', href: image_url('fav/apple-touch-icon-72x72-precomposed.png')}
  %link{rel: 'apple-touch-icon-precomposed', sizes: '120x120', type: 'image/png', href: image_url('fav/apple-touch-icon-120x120-precomposed.png')}
  %link{rel: 'apple-touch-icon-precomposed', sizes: '152x152', type: 'image/png', href: image_url('fav/apple-touch-icon-152x152-precomposed.png')}

  -# Windows 8 Pinboard Tiles - 144x144
  %meta{name: 'msapplication-TileImage', content: image_url('fav/ms-pinned.png')}
  %meta{name: 'msapplication-TileColor', content: '#204050'}
  %meta{name: 'application-name', content: text('site_name')}

  -# Opera Coast Favicon - 228x228
  %link{rel: 'icon', type: 'image/png', href: image_url('fav/favicon-coast.png'), sizes: '228x228'}
