- if flash[:render_conversion_scripts]
  - content_for :end_of_body do
    %span{data: {analytics: 'create-profile'} }
      = render "vendor/facebook_tracking"
      = render "vendor/adwords_tracking"
      = render "vendor/twitter_tracking"

%header.siteHeader
  - if display_links
    %a.menuLink{href: "#menu"} Menu
    %a.logo{href: "/"}
  - else
    .logo

  - if display_links
    %nav.mainNav#menu{role: "navigation"}
      %ul
        %li
          %a{href: "/blog"}= t('navigation.blog')
        %li
          %a{href: "/pages/professionals"}= t('navigation.professionals')
        %li
          = link_to t('navigation.companies'), company_profiles_path
        %li
          %a{href: "/pages/about"}= t('navigation.about')
        - if user_signed_in?
          %li
            - if current_user.is_admin?
              = link_to t('navigation.admin'), admin_root_path
            - else
              = wizard_or_profile_link(current_user)
        %li
          - if user_signed_in?
            = link_to t('navigation.logout'), destroy_user_session_path, method: :delete, data: {analytics: 'sign-out'}
          - else
            = link_to t('navigation.login'), new_user_session_path

  - flash.to_hash.slice(:alert, :error, :notice, :success).each do |key, message|
    .alert-box.animate--slideDown{ data: {alert: true}, class: flash_class_for(key) }
      = message.html_safe
      %a.close{ href: "#" } &times;

  = yield :hero
