%aside.sideNav--profile.js-sticky

  %ul.sideNav__section

    %li.sideNav__head
      = text("job_section.title")

    %li{class: sidebar_classes_for(:professional_profiles) }
      =link_to edit_professional_profile_path(@professional_profile), class: "link--tab" do
        .tab__content
          =t("views.professional_profiles.nav_title")
        .tab__progress
          .progress--tab
            %span.animate--stretchRight{style: progress_width(@professional_profile.engagement_preference)}

    = render partial: "layouts/profile_sidebar_section", locals: { collection: :travel_preferences }

    = render partial: "layouts/profile_sidebar_section", locals: { collection: :schedule_preferences }

    = render partial: "layouts/profile_sidebar_section", locals: { collection: :salary_preferences }

  %ul.sideNav__section

    %li.sideNav__head
      = text("you_section.title")

    = render partial: "layouts/profile_sidebar_section", locals: { collection: :qualifications }

    = render partial: "layouts/profile_sidebar_section",
      locals: { collection: :education_histories,
      href: professional_profile_education_histories_path(@professional_profile),
      progress_component: most_complete_member(@professional_profile.education_histories) }

    = render partial: "layouts/profile_sidebar_section",
      locals: {collection: :work_histories,
      href: professional_profile_work_histories_path(@professional_profile),
      progress_component: most_complete_member(@professional_profile.work_histories) }

  %ul.sideNav__section

    %li.sideNav__head
      = text("account_section.title")

    %li{class: sidebar_classes_for(:professional_profiles) }
      =link_to edit_user_registration_path, class: "link--tab" do
        .tab__content
          =t("views.account.nav_title")
