- resource_name = collection.to_s.singularize
- href = edit_profile_component_path @professional_profile.send(resource_name) unless local_assigns[:href]
- progress_component = @professional_profile.send(resource_name) unless local_assigns.has_key?(:progress_component)

%li{ class: sidebar_classes_for(collection) }
  =link_to href, class: "link--tab" do
    .tab__content
      =t("views.#{collection}.nav_title")
    .tab__progress
      .progress--tab
        %span.animate--stretchRight{ style: progress_width(progress_component) }
