- content_for(:content) do
  = render partial: "layouts/header", locals: { display_links: true }
  = yield
  = render partial: "layouts/footer", locals: { display_links: true }

= render template: "layouts/base"
