- headerbg = "#204050"
- bodybg = "#fff"

!!!
%html.hhh-email{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "width=device-width", name: "viewport"}/
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Hard Hat Hub
    = stylesheet_link_tag "email", media: "all"
  %body{bgcolor: bodybg}

    %table.head-wrap{bgcolor: headerbg}
      %tr
        %td
        %td.header.container
          .content
            %table{bgcolor: headerbg}
              %tr
                %td= image_tag 'hhh-logo-standard.png', class: 'email-logo', width: '220px'
        %td

    %table.body-wrap
      %tr
        %td
        %td.container{bgcolor: bodybg}
          .content
            %table
              %tr
                %td
                  = yield
                  %p
                    Thanks,
                    %br/
                    The Hard Hat Hub Team

                  %table.social{width: "100%"}
                    %tr
                      %td
                        / column 1
                        %table.column{align: "left"}
                          %tr
                            %td
                              %h5 Connect with Us:
                              %p
                                = link_to 'friend on Facebook', "https://www.facebook.com/HardHatHub"
                                %span &#124;
                                = link_to 'follow on Twitter', "https://twitter.com/hardhathub"

                        %table.column{align: "left"}
                          %tr
                            %td
                              %h5 Contact Info:
                              Email:
                              = mail_to "info@hardhathub.com"
                              %br
                              Phone: 312-857-5062
                        .clear
