%section.contentSection.l--stickyContent
  .contentSection__content
    %h2.contentSection__heading= t('devise.registrations.new.heading')
    %hr.contentSection__hr
    %p.contentSection__lead= t('devise.registrations.new.text')

    - if devise_mapping.omniauthable?
      .formSignup--linkedin
        %section.formSignup__section
          - resource_class.omniauth_providers.each do |provider|
            = link_to omniauth_authorize_path(resource_name, provider), class: 'button--linkedin' do
              %span.button__icon
              %span.button__text= t('linkedin.signup')

    .divider
      %span or

    .formSignup
      = simple_form_for(@user_registration_form, url: registration_path(resource_name), html: { multipart: true }) do |f|
        %section.formSignup__section
          = f.error_notification

          %fieldset
            = f.input :first_name,
                      :required => true,
                      wrapper_html: { class: "formSignup__input--half" }
            = f.input :last_name,
                      :required => true,
                      wrapper_html: { class: "formSignup__input--half" }
          %fieldset
            = f.input :email,
                      :required => true,
                      placeholder: "you@example.com",
                      wrapper_html: { class: "formSignup__input--half" }
            = f.input :zip_code,
                      required: true,
                      placeholder: "60606",
                      wrapper_html: { class: "formSignup__input--third" }
            = f.input :country, as: :select, collection: countries_list,
                      selected: "USA",
                      required: true,
                      wrapper_html: { class: "formSignup__input--sixth" }
        %section.formSignup__section
          .formSignup__input--full
            %label.label--standard= t("views.professional_profiles.industry")
            - if @user_registration_form.errors[:preferred_industries].present?
              %span.error= text(:none_selected, scope: 'views.get_started/industry')
            - IndustryHelper::TYPES.each do |industry|
              .inputWrapper--block
                = f.check_box industry, class: "boolean"
                = f.label ProfessionalProfile.human_attribute_name(industry),
                  for: "user_registration_form_#{industry}"
        %section.formSignup__action
          = f.button :submit, t('devise.registrations.new.button'), class: "button--large"

          = render "users/shared/links"
